[2016-05-23 21:19] ncnlinh opened #1 ""RCTBridgeModule.h" file not found"
Couldn't find headers of React Native modules for  #ios. Any idea how to fix?

[2016-05-23 22:32] #1 closed

[2016-05-25 14:56] jpgarcia opened #4 "Timeout warning"
I'm receiving the following warning
[code]

[2016-05-26 14:48] jpgarcia commented on #4
Sorry guys, I got confused the warning was from the react-native-facebook-login module

Closing it!

[2016-05-26 14:48] #4 closed

[2016-05-27 12:28] fabriziomoscon opened #5 "rnpm install the module before linking"
I am new to rnpm but I think contrary to what suggested in the `README.md` you need

[code]

Let me know if that makes sense?

[2016-05-27 14:07] fabriziomoscon opened #6 "Missing instruction to initialise sdk"
In the `README.md` is missing any reference to Native SDK initialisations.

For everyone interested in Android, you need to add the app id and app name to the `AndroidManifest.xml`
Follow these instructions: https://developers.facebook.com/docs/accountkit/android#initsdk

I am not sure for iOS

[2016-05-27 16:43] gaguirre commented on #5
@fabriziomoscon you're right, thanks! I'll change it right now.
`rnpm install react-native-facebook-account-kit` should be enough since it will install _and_ link the lib, as mentioned in [rnpm docs](https://github.com/rnpm/rnpm#running)

[2016-05-27 16:47] #5 closed

[2016-05-27 21:05] #6 closed

[2016-05-27 21:07] gaguirre commented on #6
Thanks again @fabriziomoscon :)
Take a look at the docs now, any feedback is welcome.

[2016-05-31 14:43] smshuja opened #7 "Order of config options is wrong."
The order of config options seems to be wrong.

https://github.com/underscopeio/react-native-facebook-account-kit/blob/70e956258507f21bd327562c53cc6a5547e58ecd/index.js#L22

[code]
should be
[code]

[2016-05-31 14:44] gaguirre commented on #7
You're right 👍
Will be fixed in seconds, thanks!

[2016-05-31 14:46] #7 closed

[2016-05-31 15:12] smshuja commented on #7
Thanks @gaguirre
I have added theme options to customize the colors and background image.

https://github.com/smshuja/react-native-facebook-account-kit/commit/774f757122771445bfbf79b48198c7a3fb0796c8

Should I send a pull request?

[2016-05-31 17:33] gaguirre commented on #7
@smshuja sure!

[2016-06-09 15:11] Nopik opened #9 "White/blacklisting doesnt work?"
It seems that whitelist/blacklist support doesnt really work. When I add some whitelist, still all countries are displayed. The source code doesnt seem to set `whitelistedCountryCodes` anywhere, either.

[2016-06-09 19:33] gaguirre commented on #9
Hi @Nopik,
I'm currently working on this and hopefully will publish a new version today!

[2016-06-09 20:00] Nopik commented on #9
Nice, thanks!

[2016-06-09 20:01] Nopik opened #10 "Login callback gets registered twice"
During first login loginWithPhone() works fine, but if I logout and call loginWithPhone() again, I'm receiving red screen complaining about login callback being already registered.

[2016-06-09 22:10] #9 closed

[2016-06-10 11:02] Nopik commented on #10
I've upgraded to 0.1.0, rebuilt everything and this problem doesnt happening anymore. Not sure what it was, as there were apparently no fixes for this between 0.0.5 and 0.1.0. Closing for now, if I will ever see that problem again, I'll reopen.

[2016-06-10 13:26] gaguirre commented on #10
Nice! Let me know if it happens again 👍

[2016-06-13 10:25] fabriziomoscon opened #12 "v 0.1.0 configDefaults needs defaultCountry"
Testing on Android I got an error red screen saying something like "impossible to find ... defaultCountry" in RNAccountKitModule.jave:240"

Should it be added here?
https://github.com/underscopeio/react-native-facebook-account-kit/blob/master/index.js#L16-L24

Or is it a necessary user specific configuration after `0.1.0`? Because before that was not the case, since my code was using the module wi

[2016-06-13 13:57] #12 closed

[2016-06-13 14:09] gaguirre commented on #12
Thanks @fabriziomoscon for reporting this issue.
Should be fixed in version **0.1.1**

[2016-06-13 16:26] fabriziomoscon commented on #12
Great!

[2016-06-14 21:45] stief510 opened #13 "buttonDisabledBackgroundColor"
The `buttonDisabledBackgroundColor` parameter in theme does not seem to be updating the actual color. Is this the correct parameter?

I see that in the RNAccountKit.m file it doesn't seem to be applied

[code]

[2016-06-14 22:10] #13 closed

[2016-06-15 16:35] stief510 opened #15 "Country list sections"
Is there any way to customize the section header background color in the country list page?
![screen shot 2016-06-15 at 12 48 03 pm](https://cloud.githubusercontent.com/assets/5383963/16089035/6fc2d428-32f7-11e6-8cd0-28da8dfd4493.png)

[2016-06-16 12:24] gaguirre commented on #15
It seems it's not possible, at least with the SDK version we are using right now.
I will try updating the SDK and let you know.

[2016-06-21 01:48] gaguirre commented on #15
Good news @stief510! It's fixed with new SDK version.
<img width="395" alt="screen shot 2016-06-20 at 10 21 59 pm" src="https://cloud.githubusercontent.com/assets/1652196/16215115/76f0c9e8-3735-11e6-9419-c0a7c8ae1b79.png">

It takes the color from the `inputBackgroundColor` property.

I will publish a new release tomorrow.

[2016-06-21 15:30] Nopik opened #16 "Difference between iOS and Android"
It seems that `RNAccountKit.loginWithPhone()` for `responseType: 'code'` configuration does return string on iOS (being the code returned), but `{ state: '', code: "..." }` kind of object on Android. It would be great if react-native-facebook-account-kit would provide consistent API across platforms.

[2016-06-22 13:07] gaguirre commented on #15
Version **0.2.0** is published and fixes this.
You will need to install the new version and then re-link the AccountKit framework in your iOS project.

[2016-06-22 13:07] #15 closed

[2016-06-22 14:32] #16 closed

[2016-06-22 18:18] gaguirre commented on #16
Hi @Nopik, thanks for submitting the issue.
The recently published version **0.3.0** fixes that.

[2016-06-22 21:21] Nopik commented on #16
Thanks, I'll check it out.

[2016-06-28 09:32] Nopik commented on #10
This actually still exists. Way to reproduction:
- start sample ios app from this repo
- enter `12` as phone number (for US)
- press `Next`
- press `Cancel`
Red screen shows up.

Moreover, in such situation `logout()` returns promise which never gets resolved nor rejected.

[2016-06-28 13:16] gaguirre commented on #10
Good to have repro steps! I'll debug it.

[2016-06-28 15:17] #10 closed

[2016-06-28 15:23] gaguirre commented on #10
It's fixed in recently published version **0.4.0**

[2016-06-28 15:45] Nopik commented on #10
Thanks, it seems to work.

[2016-07-01 09:58] zsajjad opened #17 "Unable to start activity ComponentInfo{com.fetchsky.peekaboo/com.facebook.accountkit.ui.AccountKitActivity}"
App is getting crashed randomly on this error.

[code]

[2016-07-01 12:45] gaguirre commented on #17
Hi @zsajjad, make sure you have set the right credentials.
Does the sample project work on your machine?

[2016-07-01 16:30] stief510 opened #18 "Android Customization"
How do you customize the colors for Android?

[2016-07-01 16:56] zevmo commented on #18
+1

[2016-07-01 18:25] gaguirre commented on #18
Android customization programatically (like iOS) is not possible.
You will need to create a custom theme. Check this link https://developers.facebook.com/docs/accountkit/android/customizing

[2016-07-01 18:27] stief510 commented on #18
Yes, I added that theme to styles.xml and referred to it in AndroidManifest.xml to no avail.

Where exactly should it be put? Is there a specific format it requires?

[2016-07-01 19:32] gaguirre commented on #18
I'll try it and tell you. Probably an extra line is required on Android side setting the theme resource created in **styles.xml**. Pull request are welcome also ;)

[2016-07-05 07:34] 2ducanhpham opened #19 "auto change language"
Automatic way to change the language when the application STATE changes?

[2016-07-05 12:15] gaguirre commented on #19
Hi @2ducanhpham, what do you mean with _application STATE_?
The **AKFLoginFlowState** or your React application state?

[2016-07-05 12:35] stief510 commented on #18
Any update on this?

[2016-07-05 13:22] gaguirre commented on #18
@stief510 yes, good ones! I'll update the documentation in a few minutes.

[2016-07-05 14:20] #18 closed

[2016-07-07 15:08] Keishee opened #20 "cannot find symbol import io.underscope.react.RNAccountKit;"
import io.underscope.react.RNAccountKit;
symbol:   class RNAccountKit
  location: package io.underscope.react
error: cannot find symbol
            new RNAccountKit(),
                ^
  symbol:   class RNAccountKit
  location: class MainActivity

I followed the manual installation for Android

[2016-07-07 18:03] gaguirre commented on #20
Hi @Keishee, there is a typo in the documentation.
[code]

Thanks for submitting the issue!

[2016-07-07 18:05] #20 closed

[2016-07-08 09:02] 2ducanhpham commented on #19
hi @gaguirre , **React application state**.
 I have 2 languages : US, VN. i want auto change language when i choose language, thanks!

[2016-07-08 12:16] Keishee commented on #20
Thank you,

as a following to that, I guess

should be

right?

[2016-07-08 12:47] stief510 opened #21 "Status bar style"
Is there a way to override the status bar style?

[2016-07-11 13:14] gaguirre commented on #19
There is no response field for the language used in the AccountKit flow.

However, you could use the country code selected when filling the phone number (in case of SMS) and use it to set the language in your application. Or maybe you can get it from the Facebook Graph using the obtained access token.

[2016-07-11 14:09] gaguirre commented on #21
Working on it! I'll tell you when finished.

[2016-07-11 19:29] gaguirre commented on #20
Right! Thank you

[2016-07-13 22:58] gaguirre commented on #21
No luck with this one :(

The Account Kit SDK has a method to set it but it's not working.
At least I can't see any change: the status text color remains the same, the background color does not change either. That should change, right?

[2016-07-14 13:42] #19 closed

[2016-07-20 13:37] zsajjad opened #22 "Any onBackPress callback??"
[code]
Code in catch() is running on android but on iOS its not executing can you please check!

[2016-07-20 14:32] gaguirre commented on #22
I debugged it but no callback is called on native side when _Back_ button is pressed.
I will look if there is a new Account Kit Framework version that fixes that (when have time).

[2016-07-20 14:38] gaguirre commented on #17
I'll close this. Re-open if necessary.

[2016-07-20 14:38] #17 closed

[2016-07-21 15:27] fabriziomoscon opened #23 "check Android readPhoneState logic"
@gaguirre is this logic correct?
https://github.com/underscopeio/react-native-facebook-account-kit/blob/master/android/src/main/java/io/underscope/react/fbak/RNAccountKitModule.java#L213-L219

I am not able to prefill the user phone number even though I follow the instructions:

`<uses-permission android:name="android.permission.READ_PHONE_STATE" />`

[code]

[2016-07-21 16:17] gaguirre commented on #23
@fabriziomoscon there are [some caveats](http://stackoverflow.com/a/2480307/3791502) related to this.
Are you using a real device to test it?

[2016-07-21 16:19] fabriziomoscon commented on #23
Yes I am using a Nexus 4

[2016-07-21 20:04] gaguirre commented on #22
@zsajjad this is a Account Kit bug already reported [here](https://developers.facebook.com/bugs/1631609907166073/). I just subscribed to it and will fix this issue when possible.

[2016-07-21 20:38] gaguirre opened #24 "[Android] App crash after login"
This is caused by a bug on Account Kit SDK reported [here](https://developers.facebook.com/bugs/1642641556052729/).
A solution is fix and downgrade the Account Kit SDK version to **4.12.0**

[2016-07-21 20:57] #21 closed

[2016-07-21 21:10] gaguirre commented on #21
@stief510 please give it a try and re-open if not solved.
I just submit an issue [here](https://developers.facebook.com/bugs/289019551448683/) related to this.

[2016-07-21 21:11] stief510 commented on #21
@gaguirre Awesome, thanks so much! I'll give it a try.

[2016-07-24 16:09] jpgarcia opened #25 "Multiple dex files define Lbolts/AggregateException"
From version 0.4.1 I'm getting the following error when running `react-native run-android`. I'm going to fix this in a new branch and submit a PR right away.

[code]

[2016-07-25 14:11] #25 closed

[2016-07-25 17:14] jpgarcia opened #27 "Add support for react 0.30.0"
Implement onNewIntent method

[2016-07-27 13:36] #27 closed

[2016-08-01 11:18] fabriziomoscon opened #29 "[Question] best practice for backend/code authentication"
I have been happily using this library for two months now and does a great job. I have been using the client token flow where no backend is necessary.
As my app is getting more ready I would like to build a more secure authentication flow that involves exchanging client code for a server retrieved access_token. The official facebook doc pages:
https://developers.facebook.com/docs/accountkit/grapha

[2016-08-02 14:16] gaguirre commented on #29
We are validating the user against graph api just once and then using JWT for subsequent requests, as you suggested.

Regarding **access token** vs **authorization code**, if you don't want access token to be passed through client side you should use the authorization code flow (see [this](https://developers.facebook.com/docs/accountkit/accesstokens?locale=en_US) for more info).

[2016-08-02 14:51] gaguirre commented on #21
Hi @stief510, I've some updates on this.
To see reflected the status bar style you must set the **UIViewControllerBasedStatusBarAppearance** property to **true** on your app's _Info.plist_ file

<img width="507" alt="screen shot 2016-08-02 at 11 44 07 am" src="https://cloud.githubusercontent.com/assets/1652196/17332979/0fa632b2-58a7-11e6-9aa3-a669ae44f2e6.png">

See the **LightContent** status bar

[2016-08-02 15:01] gaguirre commented on #24
Temporary solution is to install the module from the branch **sdk downgrade**.

[2016-08-11 00:56] tolu360 opened #30 "[iOS] AccountKit.getCurrentAccount() fails with Error: Could not get account data"
Trying to get the logged-in account info with `AccountKit.getCurrentAccount()` fails with the error: `Could not get account data`, even though I can retrieve the current token with `AccountKit.getCurrentAccessToken()`. Please any ideas? I am doing ...
[code]
On iOS.

Thanks

[2016-08-11 08:46] tolu360 commented on #30
[Update]

I think I was doing a few things wrong:
* I was not passing the `responseType` key in `RNAccountKit.configure({})` which you use in instantiating `_accountKit` (source: RNAccountKit.m)
* Noticed I was getting the error `API calls from the server require an appsecret_proof argument` in XCode console - I had to turn the app setting `Require App Secret` to `No` under the Account Kit dashboa

[2016-08-11 08:46] #30 closed

[2016-08-11 12:10] gaguirre commented on #30
Thanks @tolu360 for sharing this. Maybe we can improve the docs or something.
It does not work if `.configure()` is not called, right?

[2016-08-11 12:16] gaguirre commented on #23
I just tested in a _Moto E_ and it's working. I'm closing this issue since it's related to the device configuration, not this library.

See the comments on the link posted above for more info.

[2016-08-11 12:16] #23 closed

[2016-08-11 12:22] tolu360 commented on #30
You welcome @gaguirre. I think it should work, much later I noticed some defaults are being set by the package and `.configure()` is actually being called in the constructor - so calling `.configure()` serves to only overwrite the default config options. My issue was just as a result of the setting on Facebook App dashboard which I missed earlier.

As an aside passing the key `defaultCountry` in `

[2016-08-11 12:32] gaguirre commented on #30
Good to hear that! Regarding the `defaultCountry` issue you mentioned, let me try the sample and see if it's working for me.

[2016-08-11 12:48] gaguirre commented on #30
Ok, this is really weird... It's like `US` it's overriding the default.
If you blacklist `US` then you will see the default country correctly. Try the following and let me know if it works for you too.
[code]

[2016-08-11 12:53] tolu360 commented on #30
Weird... blacklisting `US` does make my `defaultCountry` work correctly. Why do you think it works though?

[2016-08-11 12:58] gaguirre opened #31 "[Android] Default country is always set to US"
If not blacklisted, `US` will be the default country even when `defaultCountry` option is set to another country

[2016-08-11 13:01] gaguirre commented on #30
Probably an issue on the Android SDK.
What about iOS? same issue? I'm reporting this bug on developers.facebook.com/bugs page.
Follow this in #31

[2016-08-11 13:05] tolu360 commented on #30
Funnily and odd enough, setting the `defaultCountry` works just fine on iOS. Great work on this package, by the way!

[2016-08-11 13:19] gaguirre commented on #31
It seems to be an Android SDK's bug so I reported it [here](https://developers.facebook.com/bugs/1763120567290198)

[2016-08-15 22:19] zevmo opened #32 "Resend code is always white on Android"
The 'Resend code' link is always white on Android. Is there a way to change this?

[2016-08-15 22:24] gaguirre commented on #32
Hi @zevmo, did you try changing the theme? If not, see [this doc section](https://github.com/underscopeio/react-native-facebook-account-kit#android).

[2016-08-16 13:36] zevmo commented on #32
Hi @gaguirre, yeah, we have this configured, but it seems that none of the options changes that one.

[2016-08-16 15:06] gaguirre commented on #32
Oh... probably an issue with the Android SDK.
Could you take a screenshot? So we can submit an issue to http://developers.facebook.com/bugs

Thanks!

[2016-08-18 09:22] octopitus opened #33 "Failed on Android (React Native 0.31.0)"
# Steps to reproduce:
- Generate a new React Native project:
[code]
- Install Account Kit
[code]
- Follow the configuration for Android
- Edit `index.android.js` with the following code. Actually I take it from sample app:
[code]

Error messages:
[code]

[2016-08-18 11:36] jpgarcia commented on #33
Just tried out what you mentioned and ended up with the same issue.

It seems that the `rnpm install` is not adding the required stuff in your project's `MainApplication.java` file.

try by adding this by your own
[code]

[code]

[2016-08-18 15:03] zevmo commented on #32
![screen shot 2016-08-18 at 9 12 54 am 1](https://cloud.githubusercontent.com/assets/2286035/17778830/6a93f2de-6533-11e6-819c-b6500c58f93e.png)

[2016-08-18 16:20] octopitus commented on #33
Thanks @jpgarcia, I solved problem.

[2016-08-23 10:03] artkow opened #35 "Switch component stop responding on Android"
After pressing on Switch and move finger outside component area before releasing it the component stops working.

When I remove package react-native-facebook-account-kit and use basic react-native then Switch works all the time good.

This happens on example witch patch:

[code]

workaround:
use in Switch function:
onResponderRelease={()=> this.setState({val: !this.state.val })}

[2016-08-23 12:17] gaguirre commented on #35
Hi @artkow, what do you mean with _the component stops working_?
Could you post a screenshot or gif maybe? I can't reproduce it in the emulator.

[2016-08-24 07:54] artkow commented on #35
Hi,
I forgot mention that this happens on android devices (no emulator). I use phone with Android ver 5.0.1 and 4.4.2.
I've done test on ios emulator and it works good too.

[2016-08-24 13:00] gaguirre commented on #33
Even better, running `react-native link react-native-facebook-account-kit` after the install will do all the work. I'll change the docs.

[2016-08-24 13:10] #33 closed

[2016-08-28 07:05] creativefull opened #36 ".getCurrentAccount() show error"
hi, i'm trying like a tutorial but i got error like this

[code]

my code

[code]

is there anything I missed in the code section?
please help me :(

[2016-08-30 19:32] zevmo opened #37 "Bump version for AK SDKs 4.15+"
Update to the latest SDK versions for Account Kit.

[2016-08-30 19:40] gaguirre commented on #36
Are you sure that error is thrown by `getCurrentAccount` method?
Could you try isolating the code?

Thanks!

[2016-08-31 08:31] creativefull commented on #36
what it means isolating code?

sorry i'm newbie

[2016-09-01 12:47] gaguirre commented on #37
Hi @zevmo, i just checked the version [is set to 4.+](https://github.com/underscopeio/react-native-facebook-account-kit/blob/master/android/build.gradle#L23) so it should get the 4.15+ version when building the project.

I'll try running the sample now and see if some pending issues were fixed. Thanks!

[2016-09-01 12:47] #37 closed

[2016-09-01 13:17] gaguirre commented on #32
Good news @zevmo! This issue was fixed in the new Android SDK release :)

![resend-code-fixed](https://cloud.githubusercontent.com/assets/1652196/18168665/2c412b6e-702d-11e6-8605-ad6acacbd001.png)

[2016-09-01 13:17] #32 closed

[2016-09-01 13:18] gaguirre commented on #22
Fixed in new Android SDK release. Re-building the project should fix the issue.

[2016-09-01 13:18] #22 closed

[2016-09-02 15:12] zevmo commented on #32
@gaguirre do you know which prop it uses?

[2016-09-02 15:20] gaguirre commented on #32
It's the one defined as `com_accounkit_primary_color` in the [styles.xml](https://github.com/underscopeio/react-native-facebook-account-kit/blob/master/sample/android/app/src/main/res/values/styles.xml#L9) file.

Notice that's used for `com_accountkit_input_accent_color ` and `com_accountkit_input_border_color ` properties too.

[2016-09-03 09:12] arhmnsh opened #38 "RNAccountKitNative.configure is not an object"
I'm getting below error when trying to run on Android. Works fine on iOS.

![image](https://cloud.githubusercontent.com/assets/1363724/18223962/9ebf97c2-71cf-11e6-8e35-cf5e1c1e3872.png)

[2016-09-04 01:26] arhmnsh opened #39 "AccountKit.logout() success function doesn't get called"
Whenever AccountKit.logout() is called, the code inside the success promise doesn't get executed.
Tried it my own app as well as the sample app in this repo.

[2016-09-04 11:59] #38 closed

[2016-09-04 12:01] arhmnsh opened #40 "Login details are not persisted"
AccountKit.getCurrentAccount() doesn't return user details  once the app has been closed.

[2016-09-05 19:10] gaguirre commented on #39
Hi @arhmnsh, this is for iOS, Android or both?

[2016-09-05 19:23] #39 closed

[2016-09-05 19:26] gaguirre commented on #36
I meant removing all code that isn't related to Account Kit specifically.
Have you tried running the sample?

[2016-09-05 19:35] gaguirre commented on #31
Issue re-published [here](https://developers.facebook.com/bugs/926401704138172/) since was closed and not resolved.

[2016-09-05 19:41] gaguirre commented on #39
We'll try to fix #40 and release a new version with both fixes in these days.
@arhmnsh if you need this immediately you can install it from master.

[2016-09-06 04:53] creativefull commented on #36
sample code or sample app ?

[2016-09-06 12:38] gaguirre commented on #36
This project's sample. You can follow [this steps](https://github.com/underscopeio/react-native-facebook-account-kit#examples).

[2016-09-06 13:22] gaguirre commented on #40
@arhmnsh could you post the repro steps?

I did the following in iOS and it worked

1. Login with email
2. See the **Logout** button and the account info
3. Close and open the app again, wait one second and see the account info

[2016-09-06 14:41] gaguirre commented on #35
Sorry for the delay @artkow
I could reproduce it but don't know why it happens. I also tried removing all `react-native-facebook-account-kit` stuff but still fails, so it may be a React Native issue.

[2016-09-06 18:01] creativefull commented on #36
yes, i've been follow that steps, but still not working for me ,.

my phone using lollipop,

[2016-09-06 18:02] creativefull commented on #36
successful for login phone,. but after login i did'nt got account :(

[2016-09-09 03:39] arhmnsh commented on #40
@gaguirre I tried that with SMS. Doesn't work.

1. Login with email
2. See the Logout button and the account info
3. Close and open the app again, see the Login button

Right now, I've solved it by saving logindetails on AsyncStorage. So, when the app starts cold, I look for logindetails in AsyncStorage, if not present, show the login button.

[2016-09-09 04:04] arhmnsh commented on #36
+1
Facing the exact same issue on Android. Works fine on iOS.
Sample app works fine. So, removed all my custom code, and copy-pasted code from the sample. Still getting this error on getCurrentAccount().

[2016-09-09 13:42] gaguirre commented on #36
Which version of React Native are you using guys? @creativefull @arhmnsh
Did you [configure the project](https://github.com/underscopeio/react-native-facebook-account-kit#configuration) with your credentials?

[2016-09-09 13:46] gaguirre commented on #40
Ok, I'll try with SMS. It may be an Account Kit SDK's issue, because it works with the email.
Do you know if this happen with Android too?

[2016-09-09 14:00] gaguirre commented on #40
I can't reproduce the error neither with SMS nor email.
<img width="150" alt="screen shot 2016-09-09 at 10 48 19 am" src="https://cloud.githubusercontent.com/assets/1652196/18389474/7c388400-767c-11e6-8a55-582dcef8f744.png">

[2016-09-09 15:05] arhmnsh commented on #36
RN is 0.32. And yep, I configured it properly.

On Fri, Sep 9, 2016, 4:42 PM Gonzalo Aguirre <notifications@github.com>
wrote:

[2016-09-09 15:26] creativefull commented on #36
+1
waiting for fix in android

[2016-09-09 16:37] gaguirre commented on #36
Ok, thank you guys, I'll debug it later.
It's probably related to the RN version.

[2016-09-13 08:41] rogerkerse opened #41 "Does not work with latest RN versions"
Error:(32, 8) error: RNAccountKitModule is not abstract and does not override abstract method onActivityResult(Activity,int,int,Intent) in ActivityEventListener

Simple gradle sync fails in android studio because of this error.

[2016-09-13 14:15] #41 closed

[2016-09-15 16:56] zevmo opened #43 "Multi-language support"
Is there anything, in particular, we need to do in order to have AK able to be capable of language support? When changing the country, I would have assumed the rest of the interface and texts will be adjusted to the language for that country.

[2016-09-16 14:29] gaguirre commented on #43
@zevmo what do you want from the following?
- The _AK screen_ language should change based on a configuration value
- The _AK screen_ language should change when the user selects a country for the SMS
- Your app's language should change when the user selects a country for the SMS

It seems Account Kit does not support language configuration in runtime. It uses the user's phone language. See the [o

[2016-09-19 11:19] arhmnsh commented on #36
Hi @gaguirre
Is there any update on this?

[2016-09-19 16:32] gaguirre commented on #36
I just published a new release (**0.5.0**) compatible with **React Native 0.33**.
Would you try it and see if it fixes the error?

Notice that, from now on, there are two separated examples for **RN 0.24** and **RN 0.33**.

[2016-09-19 16:50] creativefull commented on #36
ok i'll try again ,. thanks

[2016-09-19 17:44] zevmo commented on #43
@gaguirre International phones with Polish or Spanish only see english in the current implementation. Is there something that needs to be done for it to look at the phone's language? Official docs were extremely vague with this.

[2016-09-19 18:57] gaguirre commented on #43
@zevmo I tried the example for RN 0.33 on Android and it's working (see the image with **Spanish** as language below).
The issue you mention is only for iOS, right?

<img width="410" alt="screen shot 2016-09-19 at 3 39 03 pm" src="https://cloud.githubusercontent.com/assets/1652196/18644562/43df7db4-7e80-11e6-8d4e-a65beb3f89d2.png">

[2016-09-19 19:00] zevmo commented on #43
@gaguirre iOS, correct. Android works

[2016-09-19 19:33] gaguirre commented on #43
@zevmo ok, thanks! I'll upgrade to the latest iOS SDK version and see what happens.

[2016-09-19 20:01] #43 closed

[2016-09-19 20:03] gaguirre commented on #43
@zevmo see the related commit.
It was related to the `CFBundleDevelopmentRegion` configuration value, just need to be unset.

[2016-09-20 11:56] arhmnsh commented on #36
Hey @gaguirre,
Thanks for the update buddy.
That didn't work. But I think I found the issue. I went the though the sample app code, found some differences in `strings.xml` and `AppManifest.xml`.

*strings.xml:*
<img width="569" alt="screen shot 2016-09-20 at 2 53 54 pm" src="https://cloud.githubusercontent.com/assets/1363724/18669152/3e279114-7f42-11e6-9e62-9577b69bc262.png">

*AndroidManifest.xml

[2016-09-20 13:17] shyjal opened #44 "Error:(33, 8) error: RNAccountKitModule is not abstract and does not override abstract method onActivityResult(int,int,Intent) in ActivityEventListener"
Works great on iOS, but after following Android setup guide the gradle build fails. I'm getting this error:

Error:(33, 8) error: RNAccountKitModule is not abstract and does not override abstract method onActivityResult(int,int,Intent) in ActivityEventListener

Probably a React native  v0.33 specific bug

[2016-09-20 13:49] gaguirre commented on #44
Hi @shyjal, are you using the latest version?
We published the **0.5.0** yesterday and should be compatible with **RN 0.33**.

[2016-09-20 17:33] zevmo opened #45 "React Native compile issue with v0.5.0"
[code]

[2016-09-20 19:58] gaguirre commented on #45
Which version of React Native are you using?
The latest version is compatible with **RN 0.33** but not with older versions.

[2016-09-21 06:44] arhmnsh commented on #36
Oops nope! It just worked for a couple of times. Facing the same issue again now 😕

[2016-09-21 15:07] zevmo commented on #45
Correct, definitely the issue.

Thanks!

[2016-09-21 15:07] #45 closed

[2016-09-21 15:08] gaguirre commented on #45
I will add a note about compatibility in the README.

[2016-09-21 15:21] gaguirre commented on #36
I can't reproduce the error.
Try with the [example](https://github.com/underscopeio/react-native-facebook-account-kit#examples). If it works fine then the error must be something in your project.

[2016-09-21 23:31] GeoffreyPlitt opened #46 "Login View shows under everything else?"
When we do loginWithPhone(), the views it shows are being placed UNDER our AppView and navigation views.

How to show them above?

[2016-09-22 12:24] gaguirre commented on #46
I didn't hear about this before. Could you take a screenshot?
Also, would you try with the example app to see if this issue is specific to your project?

[2016-09-22 12:26] gaguirre commented on #40
@arhmnsh did you try again with the new version?

[2016-09-23 17:11] #29 closed

[2016-09-27 08:03] arhmnsh commented on #36
@gaguirre Example works perfectly. Just tried to create a new 0.33-based project, worked fine for a couple of runs, and then the same issue. :(

[2016-09-27 13:38] gaguirre commented on #36
@arhmnsh could you post the error stacktrace? or share a repo with the project?

[2016-09-28 08:56] arhmnsh commented on #36
@gaguirre I created this project just with accountKit. Here it is: https://gitlab.com/arhmnsh/fbakTest/blob/master/README.md

[2016-09-30 20:26] GeoffreyPlitt commented on #38
@arhmnsh  What was the solution? We're seeing the same error, in our Mocha tests.

[2016-09-30 20:28] GeoffreyPlitt commented on #33
I'm having this problem, only from Mocha tests, and the solutions above did not fix it.

[2016-09-30 20:29] GeoffreyPlitt commented on #41
What was the solution?

[2016-09-30 20:36] gaguirre commented on #38
Hi @GeoffreyPlitt, make sure you've re-built the _native project_ running `react-native run-ios`/`react-native run-android` so that native changes will be reflected.
And please submit a new issue instead of reply on three different issues! 😃

[2016-09-30 20:43] GeoffreyPlitt commented on #38
Runs fine in all simulators and devices. The only place it breaks is our Mocha tests, because the module wasn't transpiled (i.e. Babel) like other modules, from what I can tell.

[2016-09-30 20:47] gaguirre commented on #38
Are you having this issue for Android, iOS or both platforms?

[2016-09-30 20:49] GeoffreyPlitt opened #48 "Transpiled version?"
This module works great in our devices and simulators.

But it fails our mocha tests with the following error:
[code]

This seems to be happening when Babel tries to import this module, since it's not already transpiled like most modules, from what I can tell.

According to http://stackoverflow.com/questions/35040978/babel-unexpected-token-import-when-running-mocha-tests, all distributed modules s

[2016-09-30 20:50] GeoffreyPlitt commented on #48
Follow-up: We've definitely done all of the "react-native link" (equivalent to rnpm link) stuff correctly. If we hadn't, it wouldn't work in simulators/devices-- and it works fine in both android/ios simulators and devices.

So this issue is specific to mocha tests, and specific to the Babel integration, transpiling, etc.

[2016-09-30 20:56] gaguirre commented on #48
Thanks for submitting a new issue @GeoffreyPlitt
I'll take a look on this days! Please post any update you have on this ;)

[2016-09-30 21:13] GeoffreyPlitt commented on #48
Thanks! Here's something new: I suspect the solution might be to make sure this module is compile-able with the "react-native" Babel preset, see https://github.com/facebook/react-native/tree/master/babel-preset

[2016-09-30 21:21] GeoffreyPlitt commented on #38
This doesn't involve _either_ Android or iOS. We're using the framework from https://github.com/futurice/pepperoni-app-kit#testing-setup, and https://github.com/lelandrichardson/react-native-mock so that the Mocha tests can run on the RN codebase without actually touching Android/iOS stuff.

[2016-09-30 21:23] GeoffreyPlitt commented on #38
I'm going to move forward with this issue in https://github.com/underscopeio/react-native-facebook-account-kit/issues/48, let's do further comments there-- thanks for your help so far.

[2016-09-30 21:23] GeoffreyPlitt commented on #48
More context: This doesn't involve either Android or iOS. We're using the framework from https://github.com/futurice/pepperoni-app-kit#testing-setup, and https://github.com/lelandrichardson/react-native-mock so that the Mocha tests can run on the RN codebase without actually touching Android/iOS stuff.

[2016-10-01 06:33] arhmnsh commented on #40
@gaguirre I tried it on Android and it works fine now. Thanks mate! :)

[2016-10-02 08:33] arhmnsh commented on #36
Hi @gaguirre, you had any chance of checking out the repo?

[2016-10-03 10:18] 2ducanhpham opened #49 "Error layout when choose country"
screen shot
![simulator screen shot oct 3 2016 5 15 08 pm](https://cloud.githubusercontent.com/assets/14899775/19034387/519c176a-898d-11e6-9e2f-2da19e7e947d.png)

[2016-10-03 13:37] gaguirre commented on #40
You're welcome @arhmnsh!

[2016-10-03 13:37] #40 closed

[2016-10-03 14:06] gaguirre commented on #36
I'm looking at it right now.
A new version of Android SDK was released these days so I'll upgrade it and let you know.

[2016-10-03 14:53] gaguirre commented on #49
Weird! Which version of this module are you using?
Do you have repro steps for this issue?

[2016-10-03 15:37] gaguirre commented on #36
@arhmnsh with a deeper debug I can tell your error is related to a configuration on the FB admin page.
Try with [the answer to this stackoverflow question](http://stackoverflow.com/a/22909841/3791502) and tell me if that works :)

I'll improve the error handling to show better error messages.

[2016-10-04 03:10] 2ducanhpham commented on #49
My package.json
"dependencies": {
    "react": "15.3.2",
    "react-native": "^0.34.1",
    "react-native-facebook-account-kit": "^0.5.1",
...
@gaguirre

[2016-10-04 13:10] gaguirre commented on #49
Thanks @2ducanhpham.
Did you face this with previous versions of React Native?

[2016-10-05 13:36] DrJid commented on #48
I'm seeing this on a fresh react-native project built with 'react-native init MyProject', then npm installed account kit and linked using.

npm install --save react-native-facebook-account-kit
react-native link react-native-facebook-account-kit

As soon as I add the import lines,

import AccountKit, {
  Color,
  StatusBarStyle,
} from 'react-native-facebook-account-kit'

It shows the exact same er

[2016-10-05 17:21] GeoffreyPlitt commented on #48
I got a notification about this comment, but it seemed to have dissapeared, and yet is relevant. Yesteray, Maijid Moujaled said:

I'm seeing this on a fresh react-native project built with 'react-native init MyProject', then npm installed account kit and linked using.

npm install --save react-native-facebook-account-kit
react-native link react-native-facebook-account-kit

As soon as I add the imp

[2016-10-05 17:21] GeoffreyPlitt commented on #48
@gaguirre Do you think you can look at this soon?

[2016-10-05 18:54] gaguirre commented on #48
Hi @GeoffreyPlitt, I can't right now. Maybe I can take a look tonight.
Would you like to send a PR? It would be great if you could!

[2016-10-05 18:59] GeoffreyPlitt commented on #48
@gaguirre I would love to! But I don't know how. The error message showing is NOT enough to solve the problem. This one needs native android expertise from the person who wrote the module.

I time this week, so if you can tell me how to fix it, I can send a PR.

Again, need help because the error message is frustratingly giving no indication of what the bad JSON is, or what in JS land triggered th

[2016-10-06 01:58] gaguirre commented on #48
I figured out what's happening (I hope).
Our module creates an instance of `RNAccountKit` class and its constructor is calling to a `NativeModules.RNAccountKit` method, which is not defined at all. So this will crash when requiring `react-native-facebook-account-kit`.

Let me do a quick fix and try it again! I'll let you know ;)

[2016-10-06 02:17] gaguirre commented on #48
@GeoffreyPlitt would you mind to try the (hopefully) fix I just pushed to the **fix/48** branch?

To do that replace in your **package.json** this line
[code]
then run `npm install` and finally run the tests again.

Thanks! I'll wait to your answer :)

[2016-10-08 08:01] rogerkerse commented on #41
https://github.com/underscopeio/react-native-facebook-account-kit/pull/42

[2016-10-08 09:28] 2ducanhpham commented on #49
only error with React Native 0.34

[2016-10-13 16:11] sanket-kumar opened #50 "No resource found that matches the given name 'Theme.AccountKit'"
[code]

React Native Version i am using = 0.34.1

[2016-10-14 23:03] GeoffreyPlitt commented on #48
Sorry for the late replace, but that seems to have fixed it! Merge away, thanks.

[2016-10-15 21:50] #48 closed

[2016-10-15 21:52] gaguirre commented on #44
I'll close this issue that should be fixed in **0.5.0** release. Please reopen if not.

[2016-10-15 21:52] #44 closed

[2016-10-19 06:42] sham3k commented on #49
+1

[2016-10-31 16:56] zsajjad opened #52 "Release build is crashing"
### Issue Description

App is crashing after certain time in production! Google Pre-Launch report also showing crash.

### Steps to Reproduce / Code Snippets

Cannot reproduce it everytime

#### Expected Results

Crash

### Additional Information

* React Native Account Kit version: 0.5.2
* React Native version: 0.36.0
* Platform(s) (iOS, Android, or both?): Android

### Error Reports:
[code]

[co

[2016-11-01 13:34] gaguirre commented on #52
It seems to be related to [this issue](https://developers.facebook.com/bugs/323721821335576/)
Apparently it's a Facebook SDK's bug on 'no internet connection' scenario.

[2016-11-06 21:54] gaguirre commented on #31
Issue fixed in new Android SDK version

[2016-11-06 21:54] #31 closed

[2016-11-08 19:02] duongnv1996 commented on #52
Anyone fixed this issues?

[2016-11-08 19:17] duongnv1996 opened #53 "Crash when open Accountkit Android"
### Issue Description

Hello . I received this logcat from user , when try to open Account kit via intent .

java.lang.NullPointerException
1	at com.facebook.accountkit.internal.AppEventsLogger.handleResponse(AppEventsLogger.java:526)
2	at com.facebook.accountkit.internal.AppEventsLogger.access$600(AppEventsLogger.java:57)
3	at com.facebook.accountkit.internal.AppEventsLogger$4.onCompleted(AppEven

[2016-11-14 10:17] IanWambai commented on #52
Nope, our production app is crashing like hell at the moment. Might have to shelve that AccountKit feature until they fix the issue.

[2016-11-14 18:00] gaguirre commented on #52
Hi to everyone @IanWambai @duongnv1996 @zsajjad
Look at the FB issue posted above, it's fixed but not released yet.
Once released, building a new `.apk` should be enough to solve the problem (because the SDK version is not fixed in our `build.gradle`)

[2016-11-14 18:01] gaguirre commented on #53
This is a duplicate of #52
Please reopen if i'm wrong!

[2016-11-14 18:01] #53 closed

[2016-11-17 18:30] pnakibar opened #54 "Module not being registered"
### Issue Description
I'm getting "Cannot read property 'login' of undefined", further down investigating the problem, I see that it's not being registered as a Native Module.

### Steps to Reproduce / Code Snippets
1. react-native init accountkittests
2. npm install --save react-native-facebook-account-kit
3. react-native link react-native-facebook-account-kit
4. fill the ids and keys
5. react-na

[2016-11-21 20:27] gaguirre commented on #54
Hi @pnakibar, could you please post a snippet of how you're using this module?

[2016-12-04 00:28] gaguirre commented on #52
@zsajjad @duongnv1996 @IanWambai the issue should be fixed in the latest Facebook SDK release (4.18.0) according to [this](https://developers.facebook.com/docs/android/change-log-4x).

Could you check it's working? You just need to re-build your app and gradle should get the latest version.
Thanks!

[2016-12-17 15:27] srijan02420 opened #55 "Not able to use backgroundImage"
### Issue Description

I am not able to use backgroundImage in theme. Please tell me what path to give or where should I put my account_kit_back.jpg.

### Steps to Reproduce / Code Snippets

[code]

#### Expected Results

Image should come as background.

[2016-12-17 16:53] gaguirre commented on #55
Hi @srijan02420, which platform are you targeting? Android, iOS or both?

[2016-12-17 18:05] gaguirre commented on #55
For **iOS** you must add the image to the Xcode project Assets doing the following:
1. Open your project on Xcode
1. Go to your project folder and then to `Image.xcassets`
1. In the middle section do a right click and then _New image Set_

<img width="1014" alt="screen shot 2016-12-17 at 2 38 07 pm" src="https://cloud.githubusercontent.com/assets/1652196/21288734/4a939256-c469-11e6-8c19-7dc719ba2e

[2016-12-17 18:47] gaguirre commented on #54
Hi @pnakibar, please check that in your `MainApplication.java` you have the `RNAccountKitPackage` registered

[code]

[2016-12-17 18:51] #24 closed

[2016-12-17 19:07] gaguirre commented on #55
For **Android** you need to put the image in the `android/app/src/main/res/drawable` folder (create if not exists).

Then [create a theme](https://github.com/underscopeio/react-native-facebook-account-kit#android) with the `com_accountkit_background` property set to the image name withouth the extension (i.e. if the image file is `bicycle.jpg`, the property will be `bicycle`).

For a working examp

[2016-12-18 07:35] zsajjad commented on #17
Yes i have right credentials set and sample project also works very fine!

[2016-12-19 07:28] baguspazpo opened #56 "react native link facebook account kit not working for android"
when I running react-native link react-native-facebook-account-kit more than 1 time,, the result is
* for android always -> has been successfully installed
* for ios -> already linked

then in file MainApplication.Java the result
[code]
Then in the file setting.gradle and build.gradle, both of the file don't change....

so.. while i run react-native run-android... i have error

can you help me....

[2016-12-19 08:53] srijan02420 commented on #55
backgroundColor: 'rgba(0,0,0, 0.4)' was the issue. Its compulsory to add a non-opaque background. Thanks. Working fine.

[2016-12-19 08:53] #55 closed

[2016-12-19 18:08] gaguirre commented on #56
Hi @baguspazpo. You should run `react-native link` just once.

However, to _repair_ your current state you can remove the repeated lines and your file will look like
[code]

Tell me if that works for you!

[2016-12-19 18:10] gaguirre commented on #49
It seems to be working in the last React Native version. Please, reopen if it persists after upgrading RN.

[2016-12-19 18:10] #49 closed

[2016-12-19 18:15] gaguirre commented on #55
Great! Good to hear that @srijan02420!

[2016-12-26 13:58] #52 closed

[2016-12-26 14:32] zsajjad commented on #52
Its fixed! Thanks :+1:

[2016-12-26 14:33] gaguirre commented on #52
Great! 😃

[2017-01-09 21:58] Andreyco opened #57 "Poorly formatted country code crashes app"
### Issue Description

Poorly formatted country code (e.g. lowercased) crashed the app.

### Steps to Reproduce / Code Snippets

Given `countryWhitelist: ['us', 'sk']`, app crashes (feel free to use any country code)

#### Expected Results

App should not crash.

### Additional Information

* React Native Account Kit version: 0.5.2
* React Native version: 0.39
* Platform(s): Android (not sure abou

[2017-01-09 22:29] Andreyco commented on #36
@gaguirre while the advice on SO works, it deserves more than hotfix. Is there any plan, how to properly solve this issue?
TY

[2017-01-10 00:05] gaguirre commented on #57
Good catch @Andreyco! I guess we can solve this issue easily mapping the `countryWhitelist` and applying `toUpperCase` to each item.

Would you like to send a PR? I'll fix it this week otherwise.

[2017-01-10 00:22] gaguirre commented on #36
I'm not sure 100% but I think sending the `app_proof` is not supported by the SDK.
However, that could have changed or I could be wrong, so if anyone find another better solution would be great!

[2017-01-10 08:55] Andreyco commented on #57
@gaguirre sure, will add some error reporting as well, currently I have no clue, whether I use correct country code, or not...

Do you approve doing all check in Javascript codebase?

[2017-01-10 08:57] Andreyco commented on #36
As I recall, there is no newer SDK version. I suppose, we should wait then...

[2017-01-10 13:49] gaguirre commented on #57
Yes, that's what I meant. It would be better since will affect both platforms ;)

[2017-01-10 13:51] gaguirre commented on #36
Good idea @Andreyco. Feel free to send a PR for this too ;)
Thanks for contributing!!

[2017-01-26 22:06] sinn1 commented on #54
Had this problem with iOS (worked ok with Android). Not sure what caused the problem but I deleted my ios/build folder and ran react-native run-ios again. Worked fine after that.

[2017-02-13 02:18] #57 closed

[2017-02-16 19:15] mauriciocoelho opened #62 "Example RN040 not working"
### Issue Description

Hello, i'm try to run the example and not work :(

### Steps to Reproduce / Code Snippets

i try RN033 and RN040 following this steps

[code]
and both returned the same error:

![screen shot 2017-02-16 at 17 10 34](https://cloud.githubusercontent.com/assets/5712300/23036771/2fa35aa8-f46b-11e6-840c-d0b12b8e70c1.png)

#### Expected Results

run app

### Additional Information

[2017-02-19 00:54] erdemkaya opened #63 "File path too long on Windows, keep below 240 characters"
Error: File path too long on Windows, keep below 240 characters

{project_path}\node_modules\react-native-facebook-account-kit\android\build\intermediates\exploded-aar\com.android.support\appcompat-v7\24.2.1\res\drawable-mdpi-v4\abc_btn_radio_to_on_mtrl_000.png: Error: File path too long on Windows, keep below 240 characters

Android build time error
* React Native Account Kit version: v0.6.2
* Re

[2017-02-19 01:44] erdemkaya commented on #63
[SOLVED] http://stackoverflow.com/a/34680168/3528536

[2017-02-19 01:44] #63 closed

[2017-02-22 08:24] Fantasim opened #64 "Facebook App Invites"
Hi,

Is it possible to implement [facebook app invite](https://developers.facebook.com/docs/app-invites/overview) in this package?

Thanks

[2017-02-22 13:11] gaguirre commented on #64
I think it's not an Account Kit feature

[2017-02-22 13:13] gaguirre commented on #62
Hi @mauriciocoelho, based on the error message it's related to the `Camera` module.
I'll close the issue, please reopen if it's caused by this module.

[2017-02-22 13:13] #62 closed

[2017-02-24 15:26] #64 closed

[2017-03-03 18:10] fabriziomoscon opened #65 "New skins for Android"
It looks like Facebook added new skin styles: classic, translucent, contemporary.
Because this library uses `compile ('com.facebook.android:account-kit-sdk:4.+')` my app adopted the new skin style as soon as I recompiled.
It would be great to add the possibility to pick either skin from the configuration.

### Additional Information

* React Native Account Kit version: 0.6.2
* React Native version

[2017-03-03 18:20] gaguirre commented on #65
Yeah, it would be great! I'm kind of busy right now, so a PR would be even greater 😃
Otherwise you'll need to wait until next week probably.

[2017-03-03 18:23] fabriziomoscon commented on #65
It is not a stopper for me, I just thought that in case somebody would ask it was a good idea to mention the issue in a ticket.
In case I found some issue with the current code and new skins I will report.
Cheers

[2017-03-13 18:30] mauriciocoelho opened #66 "Is there a alternative to hide legal text for Android?"
For iPhone there is a `textColor` and it's possible add a transparent color to hide legal text, but in Android there is a `com_accountkit_secondary_text_color` for all texts, not only to legal text :(

[2017-03-13 19:43] gaguirre commented on #66
@mauriciocoelho what you're doing seems like a hack! 😃
I'd check the terms and conditions before hiding the legal texts...

[2017-03-13 19:44] #56 closed

[2017-03-13 19:47] mauriciocoelho commented on #66
Only for knowledge 😂

[2017-03-13 19:47] #66 closed

[2017-03-18 15:25] Dimasik911 opened #67 "Seems like not compatible with Android 4.4"
## Hey there! Please follow the steps described below

Before submit a new issue be sure about the following points

- [x] You're using the latest release of this module: https://github.com/underscopeio/react-native-facebook-account-kit/releases

- [x] You've searched through existing issues: https://github.com/underscopeio/react-native-facebook-account-kit/issues and the issue is not already repo

[2017-03-22 09:13] anbublacky opened #68 "A system issue occured"
I'm using the latest version 0.40, I have searched existing issues, also googled could not find the error
I followed the guidelines mentioned in this package, i'm able to get the login interface for mobile when i give next after mobile number gets prefilled, i'm getting the following error.

"A system issue occured, Please try again"

[2017-03-22 12:28] nikolay-radkov commented on #68
I am also having this error on react-native 0.41.2

[2017-03-22 22:51] zachrnolan opened #69 "Prefill Phone Number"
Is it possible to prefill the phone number? I know Account Kit itself allows this, but I'm not seeing anything for it in this libraries configuration.

Thanks!

[2017-03-23 00:28] gaguirre commented on #69
You're right @zachrnolan
Excellent opportunity to send a PR!! 😃  It should be very similar to how `initialEmail` works (see [Usage](https://github.com/underscopeio/react-native-facebook-account-kit#usage) section).

I'll do it later if not, don't worry.

[2017-03-23 00:32] gaguirre commented on #68
Ok, do you have any extra info (logs, screenshots) that could help to fix it?
Thanks for reporting this issue!

[2017-03-23 07:26] nikolay-radkov commented on #68
The problem is occuring if I am disabled the client access token flow in account kit dashboard. By their documentation it should work and tge response should contain short-lived access token. Instead it show the error above. Adb logcat is not showing anything.

[2017-03-24 15:38] zevmo opened #70 "Add ability to use Android Skins"
Facebook has added the ability to customize the styling by using skins.

- Classic
- Translucent
- Contemporary
https://developers.facebook.com/docs/accountkit/android/customizing

Is there any ability to use this with the current RN implementation?

[2017-03-24 15:50] zevmo commented on #70
Repeat of #65

[2017-03-24 15:51] #70 closed

[2017-03-27 20:06] #67 closed

[2017-03-28 08:08] anbublacky commented on #68
It is working when i change require App secret to no in developer dashboard

[2017-04-04 18:26] pyankoff commented on #68
Tried "Require App Secret" to NO, still getting the same error

[2017-04-15 12:27] pewh commented on #65
any news about this?

[2017-04-16 11:42] dp-singh commented on #68
I man using it in android, followed everything mentioned in the repo. After filling the phone number, it always shows System error occurred that to without any logs.
![screenshot_1492342867](https://cloud.githubusercontent.com/assets/2740228/25070910/d4b8b09e-22c7-11e7-82e5-dfbbeb3c610d.png)

[2017-04-17 01:46] gaguirre commented on #68
@dp-singh the integration seems to be ok, since the view you're seeing is provided by the Account Kit SDK. Apparently it's an internal issue, probably retrieved by the Account Kit _service_.
Could you see the Android logs?

[2017-04-17 08:09] nikolay-radkov commented on #68
@dp-singh I have the same problem and it was because **YES** was set in **Enable the client access token flow** in account kit dashboard, but in the library configurations, **responseType** was the default one - **token**. It should be set to **code** if you want to get the authorization code on the client.

`// Configures the SDK with some options`
`RNAccountKit.configure({`
`  responseType: 'tok

[2017-04-17 12:48] gaguirre commented on #68
Thanks @nikolay-radkov! It's something could be added to the documentation?
A PR would be great ;)

[2017-04-18 16:26] gaguirre commented on #65
@pewh I had no time to tackle this yet.
Any contribution is welcome ;)

[2017-05-05 03:04] giladno commented on #65
It seems that you don't have to change your xml for Android anymore, but can do it directly from Java (https://developers.facebook.com/docs/accountkit/android/customizing). Would be nice to have a single JS interface for applying the theme for both platforms.

[2017-05-05 13:31] gaguirre commented on #65
@giladno totally agree about keeping the same JS interface for Android and iOS.
I've no time these days to tackle this, maybe in two weeks... any PR is welcome.

[2017-05-05 13:35] giladno commented on #65
@gaguirre I wish I could help, but I'm not an Android developer, I can only with with ObjC code :)

[2017-05-08 18:42] fabriziomoscon opened #72 "Android: proguard fails when trying to use minifyEnable: true"
I am not an expert with proguard but I think the following warning could be avoided by adding the rule I pasted at the bottom:

[code]

We need to add:

[code]

to `proguard-rules.txt`

[2017-05-10 08:16] zevmo opened #73 "Android animations aren't smooth since version update"
### Issue Description

When using the Android version of account kit login, all of the animations are slow and janky. They aren't like this on iOS and gotten worse recently. I'm wondering if there is something that can be done.

### Steps to Reproduce / Code Snippets

When the screen transitions and loading circle appears, you don't really see the animations at all. It's like two images. Working t

[2017-05-15 19:10] fabriziomoscon opened #74 "ios: country list seems unconfigured"
* React Native Account Kit version: 0.6.2
* React Native version: 0.43.4
* Platform(s) (iOS, Android, or both?): iOS

Providing this configuration:

[code]

I can see a country list where all country codes are replaced by keys

<img width="376" alt="screen shot 2017-05-15 at 20 06 01" src="https://cloud.githubusercontent.com/assets/721890/26074633/6a34c13c-39aa-11e7-8412-4fe4aee1c610.png">

<img w

[2017-05-15 19:14] gaguirre commented on #74
Hi @fabriziomoscon, this issue is probably related to _bad linked_ dependencies from the **AccountKit.framework**.
Could you please check you've _drag&dropped_ the **AccountKitStrings.bundle** to your project in Xcode?

[2017-05-15 19:16] gaguirre commented on #73
Hi @zevmo, thanks for reporting this. I'll check if there is an issue with the new Android SDK version.
Does this happen before, during or/and after the Account Kit flow?

[2017-05-15 19:18] gaguirre commented on #72
Hey @fabriziomoscon, thanks for the tip!
We could add it to the documentation, a PR would be great ;)

[2017-05-15 19:26] zevmo commented on #73
During. The two experiences (iOS and Android) are very different animation-wise.

[2017-05-15 19:28] fabriziomoscon commented on #74
I am struggling to set up the ios library, following the README.
I got this

![screen shot 2017-05-15 at 20 26 36](https://cloud.githubusercontent.com/assets/721890/26075365/e7188e0c-39ac-11e7-8c91-6dc6bad300f4.png)

[2017-05-16 13:17] gaguirre commented on #73
It has to be related to the new SDK, but I found no issues related to that (https://developers.facebook.com/bugs/?tag_ids=1679169675664406).
Could you create a new issue there?

[2017-05-16 13:36] zevmo commented on #73
Will do. But you can replicate it as well?

[2017-05-16 15:37] zevmo commented on #73
https://developers.facebook.com/bugs/1863346430604686/

[2017-05-16 19:04] fabriziomoscon commented on #74
@gaguirre I am relatively new to ios and xcode, I am using xcode 8.3 and I open my project workspace because of cocoa pods.
I tried to unlink the library and then link it again. Dragging the frameworks as explained in the readme sometimes returns an error popup saying that there is already a file with that name.

I have not made any progress on this. I would really appreciate your input.

[2017-05-17 15:12] gaguirre commented on #74
@fabriziomoscon Xcode is a real shi#
My advice is to use git (`git diff`) to see what changes Xcode does in your project while you're adding a framework or anything.
Try removing the framework (see there is nothing related to it in your `ios` folder) and start again. 😑

[2017-05-17 15:16] fabriziomoscon commented on #74
Yes, Thank you!
I am doing this process as you describe every time.

I will post when I will find a solution

[2017-05-17 16:54] fabriziomoscon commented on #74
I found a warning in my compiler which I think is related:
`warning: skipping file '/Users/fab/projects/hoxfon/client/node_modules/react-native-facebook-account-kit/ios/AccountKitStrings.bundle' (unexpected file type 'wrapper.plug-in' in Frameworks & Libraries build phase)`

[2017-05-19 11:07] fabriziomoscon opened #75 "master and npm not synchronized"
the latest tag release and npm version is `0.6.2` on master I can see `0.6.1` in `package.json`

[2017-05-19 11:45] gaguirre commented on #75
You're right! 😄
I just pushed that missing commit

[2017-05-19 11:45] #75 closed

[2017-05-19 11:46] fabriziomoscon commented on #74
All fixed now!
Steps to fix it:
- `react-native unlink react-native-facebook-account-kit`
- open your `project.pbxproj` file and remove manually anything with AccountKet* or similar
- remove the imported Facebook Frameworks from the `ios` directory (note that this files where present on the project but not shown on xcode)
- `react-native link react-native-facebook-account-kit`
- drag Facebook fram

[2017-05-19 11:46] #74 closed

[2017-05-19 11:59] gaguirre commented on #73
I just subscribed to the issue, thanks @zevmo

[2017-05-19 12:00] gaguirre commented on #74
Glad to hear that!

[2017-05-19 12:25] zevmo commented on #73
No problem. We have isolated it to our side, I think. Unless you see the same behavior. Although, there shouldn't be anything running in the app at all that 'blocks' the animation for this component. Any insight into architectural tips which would prevent general animation jank?

[2017-05-30 09:06] ekeuus opened #76 "iOS: E-mail login cancelled no error thrown"
### Issue Description

AccountKit email login cancel error is not being thrown for iOS. Works as expected for Android.

### Steps to Reproduce / Code Snippets

When a user tries to login with email, but decides do not do so, no error is being thrown for iOS. "loginWithEmail 1" is printed but nothing else happens.

`
console.log('loginWithEmail 1')
const result = await RNAccountKit.loginWithEmail()

[2017-06-01 10:54] fabriziomoscon opened #77 "Question: how to generate test accounts for fb acc kit?"
I ma using SMS only login and my ios app got rejected by Apple, because they were not able to login. I believe they tried during a day when SMS from Facebook were delayed or not sent at all, because I experienced similar issues on the same weekend.

Apple reviewers asked for a static SMS code to bypass the verification. I am not aware of a similar thing, and I can't find anything neither on the of

[2017-06-07 20:43] GeoffreyPlitt opened #78 "Failed to receive SMS code, how to use the phonecall workaround?"
I've encountered an iPhone (AT&T carrier) which never receives the SMS code, and I've verified that a bunch of other apps (which use internet and SMS) work, and it can receive SMS messages from my phone, and there aren't any blacklists or anything.

According to https://developers.facebook.com/docs/accountkit/overview, there's a workaround where the user gets a phonecall with the code.

Does this

[2017-06-09 18:56] jslz commented on #68
hi, (thanks for this library!) for me it works on iOS but not on Android, I am facing the same situation - the fix by @nikolay-radkov doesn't yet seem to work for me. I will keep seeing if I can figure out anything, but would appreciate hearing from anybody else on Android.

[2017-07-04 00:09] GeoffreyPlitt commented on #78
@tszajna0 @Andreyco @jpgarcia @ignacioola @Vrtak-CZ @vcalvello  @smshuja  Any ideas?

[2017-07-08 13:52] anbu369 commented on #55
@gaguirre Hi, I tried to run RN039 example and get the following error? can you please help?

Error retrieving parent for item: No resource found that matches the given name 'Theme.AccountKit.Outline'.

[2017-07-10 11:27] MuruganSKutty opened #80 "No resource found error"
Building and installing the app on the device (cd android && ./gradlew installDebug)...
Incremental java compilation is an incubating feature.
:app:preBuild UP-TO-DATE
:app:preDebugBuild UP-TO-DATE
:app:checkDebugManifest
:app:preReleaseBuild UP-TO-DATE
:react-native-facebook-account-kit:preBuild UP-TO-DATE
:react-native-facebook-account-kit:preReleaseBuild UP-TO-DATE
:react-native-facebook-accoun

[2017-07-15 05:57] anbu369 commented on #80
open build.gradle file from node_modules/react-native-facebook-account-kit/android

change

`compile ('com.facebook.android:account-kit-sdk:4.+')`

to

`compile ('com.facebook.android:account-kit-sdk:4.23.0')`

[2017-07-15 06:06] anbu369 opened #81 "Compile error with latest react version"
### Issue Description

I get the following error when I build the apk.

[code]

### Steps to Reproduce / Code Snippets

I canged the build.gradle file to use facebook-account-kit-sdk-4.23.0. App runs perfectly when running from package server but could not build the release variant

#### Expected Results

bundle into apk file

### Additional Information

* React Native Account Kit version: 0.6.2
*

[2017-07-15 12:46] MuruganSKutty commented on #80
Thanks, It is working fine @anbu369

[2017-07-15 12:46] #80 closed

[2017-07-22 03:59] hellowin opened #82 "Error at `android:TextAppearance.Material.Widget.Button`"
### Issue Description

There's an weird error, it might be cased of dependencies missmatch or whatever.

### Steps to Reproduce / Code Snippets

I use this packages
[code]

Here is the source code https://github.com/hellowin/posterific/tree/implement-account-kit

#### Expected Results

It's error at compile.

[code]

### Additional Information

* React Native Account Kit version: ^0.6.2
* React Na

[2017-07-22 04:25] hellowin commented on #82
Solution: https://github.com/hellowin/posterific/pull/1

I don't even know what's going on. Just copy and paste build.gradle from my coworker.

[2017-07-22 04:25] #82 closed

[2017-07-27 07:23] nopmengkoung commented on #49
I got this error on iOS too.
My package.json
"react": "~15.4.1",
"react-native": "0.42.0",
"react-native-facebook-account-kit": "^0.6.2",

[2017-07-31 10:03] rogerkerse opened #84 "EMAİL is not a constant in com.facebook.accountkit.ui.LoginType"
We get this error when calling loginWithEmail() for one of our Turkish user (locale tr-TR)

Basically the login type EMAIL cannot be converted to Enum, because it has weird `i` there. It is visiblein stracktrace.
[code]

[2017-07-31 18:56] #69 closed

[2017-07-31 19:13] gaguirre commented on #69
This feature is included in version [**0.7.0**](https://github.com/underscopeio/react-native-facebook-account-kit/releases/tag/v0.7.0) @zachrnolan

[2017-07-31 19:15] zachrnolan commented on #69
Thanks @gaguirre!

[2017-08-09 13:21] jayprakash1 commented on #68
@jslz I was facing this issue as well. I made a mistake of using AccountKit app secret as ak_client_token. Perhaps check that once to be sure.

[2017-08-15 05:03] creativefull commented on #36
Thanks @Andreyco it is work fine :+1:

[2017-08-17 14:56] mkozhukharenko opened #88 "Bug: Compilation with RN 0.47 on Android fails"
There is a a breaking change made in react native 0.47 "Remove unused createJSModules calls"

Does anybody know how to fix this? Can we just remove '@ Override'  from this [line](https://github.com/underscopeio/react-native-facebook-account-kit/blob/master/android/src/main/java/io/underscope/react/fbak/RNAccountKitPackage.java#L16)

### Issue Description

### Steps to Reproduce / Code Snippets

In

[2017-08-22 18:20] mkozhukharenko opened #90 "Question: how to handle email login if app goes to background"
I have a button and if use click on it the next function executes

[code]

the problem is then a user goes to mail application he sends my app to background and the js code below ` await RNAccountKit.loginWithEmail()` never executes

any ideas?

[2017-08-23 12:11] gaguirre commented on #90
Hi @mkozhukharenko, could you post the repro steps for this?
Thanks!

[2017-08-23 12:22] gaguirre commented on #88
Thanks for reporting this @mkozhukharenko and for the PR.
This is fixed in version **0.8.0**

[2017-08-23 12:22] #88 closed

[2017-08-24 06:04] davidpaulsson opened #93 "Can't build app for Android (compileReleaseJavaWithJavac)"
iOS version builds just fine after following the install instructions, but the Android version won't build. I get this error:

[code]

#### Expected Results

Build succeeded.

### Additional Information

* React Native Account Kit version: 0.8.0
* React Native version: 0.46.4
* Platform(s) (iOS, Android, or both?): Android

[2017-08-24 14:43] mkozhukharenko commented on #90
Run this example on real device https://github.com/underscopeio/react-native-facebook-account-kit/tree/master/examples/RN040

1) click 'Email' button
2) enter an email
3) go to the mail app, find incoming email from accoun-kit and press 'login' there
4) go back to the app

[2017-08-25 22:44] gaguirre commented on #93
Hi @davidpaulsson, this is because **0.8.0** version is compatible for RN **0.47** version.
Try with **0.7.0** which has the same features but is compatible for previous RN versions :)

[2017-08-25 22:45] #93 closed

[2017-08-27 16:38] AnthonyLaw commented on #90
Hi there,
I have same issue as well, but my case is using LoginWithPhone.

// Shows the Facebook Account Kit view for login via SMS
[code]

[2017-08-29 12:27] davidpaulsson commented on #93
Right! Thank you! Yes, it works now :)

[2017-08-29 12:28] davidpaulsson commented on #77
Yes, this would be very helpful! Anyone? 💯

[2017-08-31 02:38] thienpow commented on #76
same to sms login

[2017-08-31 02:39] thienpow commented on #78
my problem is, the phone number has been activated to use facebook code... so the sms is disabled and i don't know how to disable facebook code and get back to use sms only.

[2017-09-01 19:03] benclanet opened #94 "Compile error #import <React/RCTBridgeModule.h>"
### Issue Description

Hey there,
I use CRNA and just detached the app. Everything worked and built fine until I added  react-native-facebook-account-kit.
I followed all the instructions and cannot compile my project anymore.

There error says: `React/RCTBridgeModule.h file not found` in `RNAccountKit.h`

I tried to clean and re-build.
I removed pods folder and ran `pod install`.

Do you guys have

[2017-09-03 19:41] sonydaman opened #95 "USING RNAccountKit.configure"
#Uncought Error: Undefined is not an object(evaluating 'RNAccountKit.configure')

========
CODE
========
import React from 'react';
import { StyleSheet, Text, View ,Alert,Button} from 'react-native';
import RNAccountKit from 'react-native-facebook-account-kit';

export default class App extends React.Component {
  constructor(props) {
    super(props);
    this.state = { login: false } ;
     RNAc

[2017-09-04 21:00] mypark opened #96 "Build Error: "RNAccountKitPackage is not abstract and does not override abstract method createJSModules() in ReactPackage""
### Issue Description

I'm getting a compile error when trying to build the android version

[ERROR] [system.err] /Users/foo/Projects/my-app/node_modules/react-native-facebook-account-kit/android/src/main/java/io/underscope/react/fbak/RNAccountKitPackage.java:14: error: RNAccountKitPackage is not abstract and does not override abstract method createJSModules() in ReactPackage
16:49:44.347 [ERROR]

[2017-09-05 12:35] sonydaman opened #97 "NPM INSTALL NOT WORKING"
F:\xampp_New\htdocs\REPO\REACTNATIVE\react-native-facebook-account-kit\examples\RN024>npm install

dules\bufferutil

F:\xampp_New\htdocs\REPO\REACTNATIVE\react-native-facebook-account-kit\examples\RN024\node_modules\bufferutil>if not def
ined npm_config_node_gyp (node "C:\Users\SonyDaman\AppData\Roaming\npm\node_modules\npm\bin\node-gyp-bin\\..\..\node_mod
ules\node-gyp\bin\node-gyp.js" rebuild )

[2017-09-05 16:57] sonydaman opened #98 "ERROR IN eact-native-facebook-account-kit:processReleaseResources"
F:\xampp_New\htdocs\REPO\REACTNATIVE\react-native-facebook-account-kit\examples\RN024>react-native run-android
(node:7232) [DEP0022] DeprecationWarning: os.tmpDir() is deprecated. Use os.tmpdir() instead.
Starting JS server...
Starting the packager in a new window is not supported on Windows yet.
Please start it manually using 'react-native start'.
We believe the best Windows support will come fro

[2017-09-07 05:41] 6thfdwp opened #99 "[Configure] 'titleType' not supported in iOS?"
I tried `RNAccountKit.configure`, pass `titleType: 'app_name' `, iOS login screen does not change though, still showing 'Log into app'. I checked the code, only found titleType got applied in `RNAccountKitModule.java`,  not found in iOS native module.

Not sure is this only supported in Facebook AccountKit Android sdk so we did not bridge it in iOS?

### Additional Information

* React Native Acco

[2017-09-16 23:19] mypark opened #100 "Open App link ak{appid}://authorize doesn't open the app in Android"
### Issue Description

Open App link ak{appid}://authorize doesn't open the app

### Steps to Reproduce / Code Snippets

login using email, click on email link, click the "open the app" button

#### Expected Results

To open the app

### Additional Information

* React Native Account Kit version: 0.7.0
* React Native version: 0.41.2
* Platform(s) (iOS, Android, or both?): Android

[2017-09-18 12:49] mypark commented on #100
So I found the answer in two places, initially I saw that you needed to update your AndroidManifest.xml by adding an intent to the account activity - as noted in the `Addtional Email Features` section of the documentation https://developers.facebook.com/docs/accountkit/android/configuration/

      <activity android:name="com.facebook.accountkit.ui.AccountKitActivity">
          <intent-filter>

[2017-09-18 12:49] #100 closed

[2017-09-19 07:13] rogerkerse commented on #84
Any news? it happens to us constantly

[2017-09-22 19:34] mgorabbani commented on #29
Can anyone give me sample codes?

[2017-09-26 11:45] pewh commented on #84
+1 for LOGIN constant

[2017-10-02 20:08] gaguirre commented on #97
Could you try with one of a newer example (`RN040` or `RN048`)?
Version 24 of React Native is not supported anymore in this module.

[2017-10-02 20:08] #97 closed

[2017-10-02 20:09] gaguirre commented on #98
Will close this for the same reason than #97

[2017-10-02 20:09] #98 closed

[2017-10-02 20:10] gaguirre commented on #96
This was fixed in already realeased version `0.8.0`

[2017-10-02 20:10] #96 closed

[2017-10-02 20:12] gaguirre commented on #95
This happens when the module is not properly configured.
Please follow the [configuration steps](https://github.com/underscopeio/react-native-facebook-account-kit#configuration) carefully 👍

[2017-10-02 20:12] #95 closed

[2017-10-02 20:17] gaguirre commented on #81
Why do you need to change the `build.gradle` file?
Does it work without changing it? @anbu369

[2017-10-03 21:34] rodnolan commented on #68
I'm on Android, react-native@0.48.4 and react-native-facebook-account-kit@0.8.0. Just dropping a quick note here to help anyone who may have made the same dumb mistake that I made.

I solved my "A system issue occurred" problem by defining the _correct_ value for my Account Kit Client Token in strings.xml.

[2017-10-04 09:03] nmhcoc opened #101 "Cannot link library on RN 0.40"
### Issue Description
I cannot link this library in ios.
![screen shot 2017-10-04 at 3 59 33 pm](https://user-images.githubusercontent.com/24821452/31167794-789344fa-a91d-11e7-96b3-227b6eb1dabb.png)
How can i fix it?
Thank.

* React Native Account Kit version: 0.9.0
* React Native version: 0.40
* Platform(s) (iOS, Android, or both?): ios
* xCode version: 9

[2017-10-06 17:50] gaguirre commented on #101
@nmhcoc if your RN version is 0.40 then you should use a previous version of this module (I think is ^0.7.0 version)

[2017-10-08 08:12] edo1493 commented on #36
Hello, I am on the latest version and RN 0.48.4. I am logging in through the phone number and I get back my token. However, when I try to retrieve the account or access token, I get an empty object in the first case and undefined.

[2017-10-08 09:38] edo1493 commented on #36
@gaguirre I have also tried to call configure, before trying to get the account object, but it doesn't make any difference.

[2017-10-10 01:02] creativefull commented on #36
hi @edo1493 u need to setting in developer.facebook.com to disable secret key. because if u use it maybe not working on android :)

[2017-10-10 01:04] creativefull commented on #36
![image](https://user-images.githubusercontent.com/13174684/31364829-a471a6d4-ad91-11e7-87df-d62eb82359d6.png)

try make your setting on product account kit like this :)

[2017-10-11 21:31] prodhan commented on #68
I am using php. same problem. What can I do now?

[2017-10-17 02:46] xuho opened #102 "Can I disable initialPhoneNumber?"
When I', not add initialPhoneNumber property in RNAccountKit.configure() method, it give me number like this:
![image](https://user-images.githubusercontent.com/13913140/31644347-fea799fe-b31f-11e7-9618-834254095458.png)
Or when I put: initialPhoneNumber: '', I got same issue?
How can I fix it?
Thank.

[2017-10-18 05:09] hai2014bk opened #103 "Framework not found AccountKit for architecture x86_64"
Hi guys, thanks for amazing library, but i'm facing this, with nothing in my mind that this problem come from

It happened on iOS, when i build my app, i followed all the installation and configuration guide, but face the same.

![screen shot 2017-10-18 at 12 08 59 pm](https://user-images.githubusercontent.com/16575101/31701830-2a16a3f4-b3fd-11e7-8d85-868cbe84df54.png)

So anyone can help me, is's

[2017-10-18 13:08] gaguirre commented on #103
Hi @hai2014bk, they are just warnings because you're targeting an old iOS version (8.0) which is not compatible with the one the library was built for (9.2).
However this is not why the build is failing. Take a deeper look to the logs to see what is really causing the linker to fail and post it here.

[2017-10-26 12:25] asyrique opened #104 "Calling RNAccountkit.loginWithPhone() triggers Accountkit UI but doesn't call function passed into `.then()` after successful verification."
### Issue Description

Calling `RNAccountkit.loginWithPhone()` shows the Accountkit UI, but does not call the function in `.then(code => {...})`. Neither does it error out and call the `.catch()`

### Steps to Reproduce / Code Snippets

[code]

#### Expected Results

Accountkit UI pops up, SMS is sent and verified, and then `.then()` is called to pass the control flow on.

Expected console logs:
-

[2017-10-27 19:10] gvillenave commented on #84
Same thing with LOGIN constant also. Seems to be specific to Turkish locale because of the Turkish "I".

[2017-10-28 17:28] tuan072090 opened #105 "How do I change default language?"
Anyone know how to change the default language (English) to another language?

[2017-10-30 11:04] #102 closed

[2017-10-30 21:58] zachrnolan commented on #96
I'm still running into this error on RN 0.48 & 0.9.0.

[2017-11-06 02:05] Toriki07 opened #106 "Rejected app while logging app connected to an IPv6 network."
App Store tested IPv6 compatibility and rejected app as it crashes while logging in with FB accountkit sms.

Are there any additional work to implement IPv6 compatibility in my app?

* React Native Account Kit version: [0.6.2]
* React Native version: [0.45.1]
* Platform(s) (iOS]

[2017-11-07 09:13] aidinb commented on #49
me too

[2017-11-07 12:40] gaguirre commented on #49
@nopmengkoung @aidinb which version (exactly) of `react-native-facebook-account-kit` and `react-native`?

[2017-11-07 12:42] aidinb commented on #49
"react-native": "0.48.2",

[2017-11-17 15:25] afilp opened #107 "error: package io.underscope.react.fbak does not exist"
Hello,

unfortunately, I get this error in Android, with latest versions:

[code]

The `MainApplication.java` seems OK (or not?):

[code]

[code]

### Additional Information

* React Native Account Kit version: 0.9.0
* React Native version: 0.49.5
* Platform(s) (iOS, Android, or both?): Android

[2017-11-17 20:11] afilp commented on #103
Hi @gaguirre, could this be a similar problem with the following Android one that I am facing? (I cannot compile)

https://github.com/underscopeio/react-native-facebook-account-kit/issues/107

[2017-11-18 10:09] Compa259 commented on #103
@hai2014bk : Did u solved this problem yet. Because I am also in trouble like this. Thanks for any help!...

[2017-11-18 15:56] afilp commented on #103
@Compa259 Do you also have the problem I am having in Android? I ask because this may be related to some overall versioning problem. This is my similar (I think) issue in Android: #107

[2017-11-22 04:51] jitenbansal commented on #68
In AccountKit dashboard  find "Enable Client Access Token Flow" and set it ON.
It worked for me.

[2017-12-03 23:26] afilp commented on #103
@hai2014bk @Compa259 I have the same problem.

[2017-12-04 11:13] congvd commented on #103
Hi guys, I solved this problem.
Steps :
First, link the AccountKit SDK to your project following these steps:

[2017-12-05 17:35] wenweicui opened #109 "Style issue for the phone login"
### Issue Description

For the phone number login page, the instruction text has less vertical padding space compare to the screenshot provided on https://developers.facebook.com/docs/accountkit/ios/customizing. Please help me find the issue. Thanks!
<img width="258" alt="screen shot 2017-12-05 at 12 21 57 pm" src="https://user-images.githubusercontent.com/11566077/33621431-bc5468b0-d9b8-11e7-9886

[2017-12-06 13:31] yapitsmalvinder commented on #48
Hi @gaguirre
Still facing the same issue
wasted complete day on the same

[2017-12-06 13:36] gaguirre commented on #48
Hi @yapitsmalvinder,
Which error are you facing exactly? This issue was fixed from version **0.5.2**

[2017-12-06 13:41] yapitsmalvinder commented on #48
I am importing
I am using ver: 0.9.0

import AccountKit, { Color, StatusBarStyle } from 'react-native-facebook-account-kit';

Whenever I do
AccountKit.configure()
or any other method
like:
AccountKit.getCurrentAccount()

It says
TypeError: cannot read property 'getCurrentAccesToken' of undefined
[
![simulator screen shot - iphone 6 - 2017-12-06 at 19 09 57](https://user-images.githubusercontent.co

[2017-12-07 13:14] gaguirre commented on #48
Probably the module is not correctly linked.
Try re-installing this module. Follow the [Installation](https://github.com/underscopeio/react-native-facebook-account-kit#installation) and [Configuration](https://github.com/underscopeio/react-native-facebook-account-kit#configuration) steps.

[2017-12-07 13:17] yapitsmalvinder commented on #48
@gaguirre
Followed all the processes thoroughly
4 times
tried different projects to do the same
Still the same issue:

react: 16.0.0
react-native: 0.50.4
react-native-facebook-account-kit: 0.9.0

[2017-12-09 08:10] MakarkinPRO opened #110 "How to connect it with WordPress"
How to connect it with WordPress - any ideas or articles?

[2017-12-14 10:24] phumaster commented on #103
I find the solution and work well:

Copy `AccountKit.framework` and `AccountKitStrings.bundle` to your project in `ios` folder (Ex: `your_react_native_project/ios/COPY_TO_HERE`)
Then, in your project in xcode. Right click -> add file to "your project" and select `AccountKit.framework` and `AccountKitStrings.bundle` select the "Copy items if needed" option.
Clean project and rebuild.
Good luck!

[2017-12-19 03:47] chileung69 commented on #105
In iOS, you can add a support language in XCode project. In Android, there should support multi-language default.

[2017-12-19 03:48] chileung69 commented on #104
Seem the catch missing something, should be:
.catch((err) => console.log(err))

[2017-12-19 03:55] chileung69 opened #111 "Compile Error in Android, ReactNativeContacts is not abstract and does not override abstract method createJSModules() in ReactPackage"
When I compile and get error on override function
ReactNativeContacts is not abstract and does not override abstract method createJSModules() in ReactPackage

I solved by add a override function in library.
@Override
public List<Class<? extends JavaScriptModule>> createJSModules() {
        return Collections.emptyList();
}

Can solve in next version? Thank you.

[2018-01-17 09:59] hoanglinh2k7 commented on #105
In android 8, I can't change language default of facebook account kit layout. Anyone know how to change it?

[2018-01-19 04:06] priezz commented on #104
I have the same behavior (Android, RN 0.51). Is there any solution?

[2018-01-23 02:50] pewh commented on #96
Still have same issue on RN 0.50.4

[2018-01-23 12:48] gaguirre commented on #110
It sounds that you need the [web version of AccountKit](https://developers.facebook.com/docs/accountkit/webjs)

[2018-01-23 12:52] gaguirre commented on #107
Apparently the library was not linked properly.
Try again and use git to see the diff when doing it: you should see changes on `build.gradle`, `settings.gradle` and `MainApplication.java`.

[2018-01-23 13:11] gaguirre commented on #109
I think thats related to the native AccountKit SDK itself.
You could post the issue in Facebook developer bugs (see an example [here](https://developers.facebook.com/bugs/926401704138172/) )

[2018-01-23 13:14] gaguirre commented on #105
@tuan072090 @imcodervn I'm afraid the Account Kit SDK will use the device's language settings and you can't change that behavior.

[2018-01-23 13:17] gaguirre commented on #104
It seems like the library was not linked properly. Take a look to your `build.gradle`, `settings.gradle` and `MainApplication.java` and see they were properly modified when running `react-native link`.
@asyrique @priezz

[2018-01-24 07:12] nhmasum commented on #50
Did you get any solution? I am facing same problem now.

[2018-01-24 09:17] priezz commented on #104
@gaguirre, what do you mean by "not properly"? As I understand, there are just two options - linked or not :) In my case it is linked, because all other functions work as documented and execute callbacks. I already have the workaround to use the module w/o the callback execution, but if it would work as documented it would be much better.

[2018-01-24 09:29] priezz commented on #104
The workaround mentioned:

[code]

[2018-01-24 10:36] kdastan commented on #103
It didn't work for me, because **react-native link** didn't add framework properly. To fix this, I had to add AccountKit.framework and AccountKitStrings.bundle by myself. Select in 'Targets' your app name, then find 'Link Binary with Libraries' in 'Build Phases' and add those 2 files by clicking plus sign. It should help you.

[2018-01-25 08:22] kdastan commented on #102
@xuho did you solve issue ? I think this number is just your Android Emulator's number and it shouldn't be on real device.

[2018-01-28 22:27] VincentRoest commented on #90
This is still an issue... For us it only happens on android though. If the user presses the homescreen and forces the app into background, the AccountKit activityResult gets called and rejects the attempt as attempt failed. How can we fix this?

[2018-01-29 14:34] VincentRoest opened #114 "Android Background"
### Issue Description

The user opens the accountkit modal on Android, fills out a phone number and backgrounds the app. The modal disappears from view, and the user cannot complete  the login-process. I believe this is due to the fact that the intent is null (as mentioned in #61 by @tszajna0). The fix was to reject the promise and return. However, this means that the login flow breaks. A solution

[2018-01-29 17:37] anuragprajapat commented on #68
Add Product-> Account Kit-> Advanced Settings -> Configure Keys

[2018-02-02 22:22] RoshOne4 opened #115 "[Style] Change button color when pressed ?"
Hello,

Is this possible to change the color of the button when pressed ?

Thanks.

![img-0301](https://user-images.githubusercontent.com/26284106/35757460-612fa1b2-086f-11e8-866a-92d2ac2c88ac.PNG)

[2018-02-03 18:18] cmendes0101 commented on #106
Every we get rejected about IPv6 it was always really about logging in by phone number. This has happened like 4+ times.

They do not use their own phone numbers so they keep rejecting at that point from my past experience. We had to setup a number on Twilio and a receiving SMS page so they can enter a specific test number and get the code to login.

[2018-02-07 10:25] thejasreem opened #116 "getAuthorizationCode() method is not working"
### Issue Description
Need authorization code to verify the user in the app.

### Steps to Reproduce / Code Snippets

#### Expected Results

### Additional Information

* React Native Account Kit version: [0.9.0]
* React Native version: [0.51]
* Platform(s) (iOS, Android, or both?): [both]

[2018-02-09 16:41] Deevent commented on #96
Same issue, anyone has the solution ?

[2018-02-15 12:22] jpgarcia commented on #107
@afilp as @gaguirre mentioned check your `settings.gradle` it seems you're missing this:

[code]
I'm closing this issue, feel free to re-open it if it doesn't work

[2018-02-15 12:22] #107 closed

[2018-02-15 12:23] #103 closed

[2018-02-15 12:24] #101 closed

[2018-02-17 07:20] azharkiz commented on #36
i am using Facebook Account Kit for OTP verification in react native. everything is working is working but i can't find a way to get the mobile number which is verified.. please help me guys?

   RNAccountKit.getCurrentAccount().then(account => {
       console.log(`Current account: ${account}`)
      })
    }

[2018-02-28 22:58] zachrnolan opened #118 "Debug Flag"
Facebook references a debug flag in their Account Kit FAQ (https://developers.facebook.com/docs/accountkit/faq)

When you click on the link it takes you to the web documentation. Is there any type of debug flag we can set for iOS and Android? Their documentation is unclear on this.

[2018-03-01 07:22] putin111 commented on #107
do you help me fix this error?

[2018-03-07 18:04] gaguirre commented on #107
@putin111 have you tried the solution suggested by @jpgarcia above?

[2018-03-10 10:58] mursang opened #119 "[ANDROID]: AccountKit not initialized yet."
### Issue Description

Getting warning: **AccountKit not initialized yet. `login` call discarded** on Android, but working fine on iOS with the same config.

### Steps to Reproduce / Code Snippets

Calling **RNAccountKit.loginWithPhone()** fires this warning and nothing happens.

### Additional Information

* React Native Account Kit version: 0.9.0
* React Native version: 0.54.0
* Platform(s) (iOS

[2018-03-10 11:14] #119 closed

[2018-03-10 11:15] mursang commented on #119
Sorry, it was a misconfiguration at AndroidManifest.
Didn't notice that I had to insert meta-data tags inside <application>

[2018-03-21 11:57] edo1493 opened #120 "EXC_BAD_ACCESS folly::Expected<long long, folly::ConversionCode>"
### Issue Description

Hello, I have been getting this crash for the last 5-6 months on my production builds. This happens from time to time when our users open Facebook Account Kit. It's iOS11 only.

As soon as they open FB Account Kit, the screen turns black and the app crashes.

### Steps to Reproduce / Code Snippets

This is a routine crash on 10% of my production builds, but I can't find a wa

[2018-03-29 19:18] RossKinsella commented on #114
I've been getting an intent of null when calling `AccountKit.loginWithPhone()` on Android 4.4 (19)

[2018-03-29 20:37] RossKinsella opened #121 "No support for Android < 5.0"
### Issue Description

This library is not compatible with Android version < 5.
This is due to its dependence on Intent, which was introduced in 5.

### Steps to Reproduce / Code Snippets

Attempt to log in via phone on any android device under 5 using `AccountKit.loginWithPhone()`.
The promise will immediately resolve and will return an error.

#### Expected Results

The promise should not resolv

[2018-03-30 09:30] Dimasik911 commented on #67
@RossKinsella, there was something about android drawables. You need to check error in Android Studio.

[2018-03-30 09:35] Hitendra95 opened #122 "facing same problem in IOS app"
## Hey there! Please follow the steps described below

Before submit a new issue be sure about the following points

- [ ] You're using the latest release of this module: https://github.com/underscopeio/react-native-facebook-account-kit/releases

- [ ] You've searched through existing issues: https://github.com/underscopeio/react-native-facebook-account-kit/issues and the issue is not already repo

[2018-03-30 09:38] RossKinsella commented on #67
Oh... I was under the impression it was something quite different. https://github.com/underscopeio/react-native-facebook-account-kit/issues/121

[2018-04-03 00:23] Zacele opened #123 "Stuck at the "Sending your code..." screen"
### Issue Description

I have been testing fine with RNA for about 2 days and then this happens. I received the code but the app keep stuck at this screen. I did remove my ios/build and try to rebuild it but that didn't work. Have anyone encountered this problem yet.

<img width="428" alt="screenshot 2018-04-03 07 11 00" src="https://user-images.githubusercontent.com/25264866/38222590-d22dbb00-370

[2018-04-06 03:58] Zacele opened #124 "How could I remove this back button out of the login screen"
How could I remove this "Back" button out of the login screen. Thank you very much.

<img width="387" alt="screenshot 2018-04-06 10 56 51" src="https://user-images.githubusercontent.com/25264866/38402809-3d3babf2-3989-11e8-973f-02f2ba52f950.png">

[2018-04-14 16:44] RossKinsella opened #125 "Android one off exception in the wild: "Error inflating class TextView""
### Issue Description

I have a single error report from the wild for my application running the latest version of react-native-facebook-account-kit which is stemming from something going wrong in the facebook sdk. See full error report below but I think the core issue is `Error inflating class TextView`

The only other exception I have gotten in the wild is `ExperimentationConfigurator.java line

[2018-04-18 18:40] zachrnolan commented on #114
I'm also experiencing this on Android.

1. Enter phone number in AccountKit
1. Background the app to get to the text message app
1. Re-open app
1. AccountKit is showing the "Enter your mobile number" screen again.

There are a few ways that users are currently able to get past this:
1. See the text notification while in the app and enter it quickly
1. If they have automatic verification through an

[2018-04-24 04:26] rassemdev commented on #68
Thanks @nikolay-radkov  your solution solved the problem.. Saved my day

[2018-04-24 06:20] rassemdev opened #126 "Read sms automatically"
Is there any way to read the verification message automatically, instead of typing it?

[2018-04-24 07:17] rassemdev opened #127 "move to another page"
I'm newbie in react-native. I am using this plugin loginWithPhone() to verify mobile number. After verified i want to move to another page. Right now, it it redirect back to the current page. Where should i put my navigation code? (im using react-navigation)

[2018-04-24 23:43] rassemdev opened #128 "How to get the phone number that typed"
Is there any way to get the phone number that we typed for verification?

[2018-04-26 13:59] swadhin- opened #129 "Make OTP submit button press automated"
### Issue Description

After OTP is auto-filled in user needs to press submit button. Should be a way to auto submit the OTP.

### Steps to Reproduce / Code Snippets

- Provide phone number
- Wait till otp fills in
- Observe that user needs to press submit button to complete the process

#### Expected Results

Should auto login after otp fills in

### Additional Information

* React Native Account

[2018-04-26 14:11] gaguirre commented on #129
Hi @swadhin-, the auto-fill is handled by the AccountKit SDK.
AFAIK that _auto login_ feature is not an option, but it's always up to Facebook and the AccountKit developers.

[2018-05-01 15:55] p-ugulino opened #130 "Error on navigate after loginWithPhone"
### Issue Description

In some Android devices, after I call this.props.navigation.navigate inside the loginWithPhone function I get a warning and the app doesnt go through the navigation.

I get the following warning:
"Warning: Can only update a mounted or mounting component. This usually means you called setState, replaceState, or forceUpdate on an unmounted component. This is a no-op.

Please c

[2018-05-04 21:14] sqow commented on #84
Doubtful, but has anyone been able to resolve this issue? Can't even find it in the Facebook support system.

[2018-05-05 12:42] ismailhamadi commented on #124
@Zacele did you find a solution for that, if so please share it with us if you can.
Thanks.

[2018-05-08 13:14] gaguirre commented on #84
Thanks @sqow! I'll merge it and release a new version with the fix.

[2018-05-09 06:37] rassemdev commented on #130
@p-ugulino how you getting the number while using loginWithPhone?

[2018-05-09 11:51] p-ugulino commented on #130
@rassemdev  getCurrentAccount

[2018-05-09 13:59] samuelgjabel opened #132 "Using the Advanced UI Manager / Change text"
Is there possible way how to customize text in login modals?

Or at  least change header text from _Login into_ to _Authorize_
Becouse i found in offical docs that there is a way how to do it..but i dont know if its other version of AK and if its possible.
Thanks. :)

From offical docs:
Account Kit offers deeper customization of the login UI by allowing you to define an Advanced UI manager.

**You

[2018-05-10 12:27] Zacele commented on #124
@ismailhamadi actually I just know how to get rid of it on Android. I'm using React-Navigation so by setting the header to null. I'm able to disable the header. Doesn't have any effect on iOS though.

[2018-05-12 16:51] ismailhamadi commented on #124
Thanks @Zacele for the information.

[2018-05-15 06:10] #116 closed

[2018-05-15 06:14] thejasreem opened #133 "iOS app is crashing in production"
Hi,
Can anyone help me out with this issue?
The issue with account kit RCT native module.

![screen shot 2018-05-15 at 11 44 02 am](https://user-images.githubusercontent.com/19645979/40039773-57eb174c-5835-11e8-9da5-5749b6e48f7c.png)

* React Native Account Kit version: 0.9.0
* React Native version: 0.51
* Platform(s) (iOS, Android, or both?): iOS

[2018-05-19 04:47] FuzzyTree opened #134 "App crashes when library is imported"
### Issue Description

Adding `import RNAccountKit from 'react-native-facebook-account-kit'` crashes the app

### Steps to Reproduce / Code Snippets

Add `import RNAccountKit from 'react-native-facebook-account-kit` to a hello world app.

Removing the import allows the app to run. There are no errors in my terminal.

[code]

![screenshot_20180518-214147](https://user-images.githubusercontent.com/6

[2018-05-20 00:18] #134 closed

[2018-05-20 05:44] amanix007 commented on #68
Thanks @nikolay-radkov

[2018-05-20 08:15] amanix007 commented on #36
![errorapture](https://user-images.githubusercontent.com/13711025/40276922-97f73e32-5c37-11e8-996a-b2affa4f5b31.PNG)
Even my "Require App Secret" set to "No" and "Enable Client Access Token Flow" set to "Yes" Still Having same issue.

[2018-05-20 09:01] azharkiz commented on #36
In my case i wrote Require App Secret" set to "yes" then i am changed it
into "no" at that time i got the account details. In your case i suggestion
you check your code.

On May 20, 2018 1:45 PM, "amanix007" <notifications@github.com> wrote:

[2018-05-21 02:41] rassemdev commented on #36
@azharkiz can you share your code? i'm new in react-native

[2018-05-21 04:18] azharkiz commented on #36
You refer the facebook account kit authentication react native youtube 1 hr
video you can get the result..

On May 21, 2018 8:11 AM, "rassemdev" <notifications@github.com> wrote:

[2018-06-03 17:41] hutsi commented on #36
having the same issue, setting "Require App Secret" to "NO" didn't do the trick..

[2018-06-06 20:56] Chatharaju commented on #128
+1
I would like to know it as well.

[2018-06-07 01:39] kodayashi opened #135 "Possible Unhandled Promie Rejection - Error: could not get account data"
## Hey there! Please follow the steps described below

### Issue Description

When testing out Account Kit on iOS Simulator it works fine and I do get account data, but I do get a warning message:

[code]

[2018-06-07 01:58] kodayashi commented on #135
Ah, found the closed duplicate issue. Didn't have the require app secret option disabled. All set, apologies for the noise.

[2018-06-07 01:58] #135 closed

[2018-06-07 13:17] saveliy-kremen opened #136 "react-native-firebase and react-native-facebook-account-kit"
### Issue Description

Connecting react-native-firebase results in a bug in the react-native-facebook-account-kit. Using the keyboard in the react-native-facebook-account-kit crashes the application

### Additional Information

* React Native Account Kit version: 0.9.3
* React Native version: 0.55.4
* Platform(s) (iOS, Android, or both?): Android

[2018-06-09 20:41] thecodecafe opened #137 "Autodetect SMS"
This is more of a suggestion, would be nice to autodetect the sms sent by facebook.

[2018-06-11 19:45] Chatharaju commented on #132
+1, please let us know if this is possible to do it.

[2018-06-19 10:21] thecodecafe opened #138 "AllowBackup Merger Issue On Android"
After installing RN Facebook Account Kit I was experiencing some issues when compiling, it fails and says there was a merger problem between my projects AndroidManifest file and and that of the package, so resolve this issue it tells you to insert the following code `tools:replace="android:allowBackup"` to your application element in your AndroidManifest file that didn't solve my problem immediate

[2018-06-19 10:21] #138 closed

[2018-06-19 12:45] hmaamoun commented on #136
Is there any update or fix here? Any workarounds?

[2018-06-27 19:11] iVahan commented on #136
I have same issue .
Didn’t find class “android.support.v4.view.KeyEventCompat”

Please give some updates
Thank you

[2018-06-30 18:04] billel-boudchicha commented on #104
Hi @priezz thanks for "The workaround " , i think AppState doesn't behave the same in android and ios
it doesn't fire in ios simulator but works as expected in android simulator 6,
React Native Account Kit version: 0.9.3
React Native version: 0.55.4

Did you came up with a better solution thank you

[2018-07-02 20:11] #128 closed

[2018-07-02 20:13] aschenkel commented on #137
Duplicate of #126

[2018-07-02 20:13] #137 closed

[2018-07-02 20:16] aschenkel commented on #127
Closing this one since it seems like a question to be asked on [SO](https://stackoverflow.com/), not related to this package

[2018-07-02 20:16] #127 closed

[2018-07-02 20:29] #122 closed

[2018-07-02 20:37] #110 closed

[2018-07-02 20:37] #109 closed

[2018-07-02 20:39] #105 closed

[2018-07-02 20:45] #84 closed

[2018-07-02 20:46] aschenkel commented on #81
Closing it due to inactivity

[2018-07-02 20:46] #81 closed

[2018-07-02 20:52] aschenkel commented on #73
Closing this due to inactivity and its relation to FB SDK itself.
If you are still encountering this issue, please leave a comment with the requested information.

[2018-07-02 20:52] #73 closed

[2018-07-02 20:56] #54 closed

[2018-07-02 20:57] aschenkel commented on #46
Closing it due to inactivity

[2018-07-02 20:57] #46 closed

[2018-07-02 20:59] aschenkel commented on #35
Closing this one due to inactivity

[2018-07-02 20:59] #35 closed

[2018-07-06 18:40] aschenkel opened #140 "Support button highlighted style"
Add suport for `buttonHighlightedBackgroundColor`, `buttonHighlightedBorderColor`, `buttonHighlightedTextColor` properties on iOS as done in https://github.com/underscopeio/react-native-facebook-account-kit/pull/86/commits/f8759fa4f0effd39a9aebdd9c3ee35cd1cc38180

[2018-07-10 14:02] aschenkel commented on #133
possible duplicate of https://github.com/underscopeio/react-native-facebook-account-kit/issues/120 ?
Is this also happening on iOS11?

[2018-07-10 15:17] aschenkel commented on #121
Hey @RossKinsella !

I have looked at the referenced issues and despite making sense, I'm not being able to reproduce it.

Tested examples:
-  [RN048](https://github.com/underscopeio/react-native-facebook-account-kit/tree/master/examples/RN048)
- [RN051](https://github.com/underscopeio/react-native-facebook-account-kit/pull/142)

Tested devices:
- Samsung Galaxy Nexus **Android 4.1.1 - API 16**
-

[2018-07-10 15:59] aschenkel commented on #136
Hey @saveliy-kremen !  What Firebase version are you using?

We have a working application which is using the latest firebase version (but is on RN051) and doesn't have this issue

[code]

Is this happening on every device?

[2018-07-10 16:12] aschenkel commented on #123
Closing this due to inactivity.
If you are still encountering this issue, please leave a comment with the requested information.

[2018-07-10 16:12] #123 closed

[2018-07-10 18:22] #68 closed

[2018-07-10 20:50] aschenkel commented on #94
Hey @benclanet !
Cocoapods wasn't supported until now (_v0.10.0_).
Previously only `react-native link` was supported.

[2018-07-10 20:50] #94 closed

[2018-07-14 15:08] sooxiaotong opened #144 "iOS weird UI offset (scrollView behaviour), haven't tested on Android."
![ezgif-4-76b1d7abc1](https://user-images.githubusercontent.com/13378059/42725690-b840894c-87ba-11e8-9082-fdbe8e163bf8.gif)

[code]

[2018-07-15 14:54] billel-boudchicha commented on #144
Same here

[2018-07-16 11:45] Im-Goutham commented on #94
Same issue occuring with  React Native Account Kit version: "^0.10.1"

[2018-07-18 05:56] Im-Goutham opened #145 "ui issue in Ios simulator"
Getting this design issue in IOS .
![screen shot 2018-07-18 at 11 25 12 am](https://user-images.githubusercontent.com/20550389/42862498-5d332800-8a7d-11e8-8589-2ea18a0a62ce.png)

[2018-07-18 05:59] Im-Goutham commented on #144
Same issue occuring for me.Got this issue in iPhone X simulator.

[2018-07-18 06:29] #145 closed

[2018-07-22 11:05] nzhtrtlc opened #146 "Android build failed"
### Issue Description
Hello, this package works fine on IOS with the versions notes below.
But in android it could not build successful.
<details>
    <summary>Build fail log</summary>

Building and installing the app on the device (cd android && ./gradlew installDebug)...
:app:preBuild UP-TO-DATE
:app:preDebugBuild UP-TO-DATE
:app:checkDebugManifest
:app:preReleaseBuild UP-TO-DATE
:app:prepareAnd

[2018-07-23 09:37] nzhtrtlc commented on #146
I removed android:keyboardNavigationCluster attribute from source code of this plugin.
Then its works.
Now the question is: when i type npm install again this plugin will be turn back to default codes. So my override will be gone. How can i keep my changes and get updates from this plugin too ?

[2018-07-23 14:00] gaguirre commented on #136
Closing this, please reopen if the issue still persist.

[2018-07-23 14:00] #136 closed

[2018-07-23 14:06] gaguirre commented on #133
Hi @thejasreem, we need more info to see why this is happening.
I'm closing this but feel free to reopen it with the repro steps.

[2018-07-23 14:06] #133 closed

[2018-07-23 14:10] gaguirre commented on #120
Hi @edo1493, I can see you've posted this issue in `react-native-sentry` too.
Do you still think it could be related to `react-native-facebook-account-kit` or should I close this?

[2018-07-23 14:19] gaguirre commented on #132
Hi, this is possible but we need to implement it.
We want to see if there is a way to unify both, Android and iOS in a common, easy to use API.
However, if you come with a solution for iOS feel free to send a PR!

[2018-07-23 20:51] nzhtrtlc commented on #146
@gaguirre Actually i was my bad. I looked into build directory, if you really curious here is the path:

node_modules/react-native-facebook-account-kit/android/build/intermediates/res/merged/release/values-v26/values-v26.xml

This is wrong place to change because this file is under build directory.
So, i removed node_modules and re-installed packages. Then i tried to run android but it failed agai

[2018-07-25 12:15] manurana commented on #144
This should go away on the device .. This has been my experience.

[2018-07-25 13:14] gaguirre commented on #144
Thanks @manurana for the info.
@sooxiaotong @billel-boudchicha @Im-Goutham could you confirm this is happening on simulator only?

[2018-07-26 09:14] sooxiaotong commented on #144
@gaguirre I don't have an iPhone, I had tested this in simulator only.

[2018-07-31 21:11] adrianofernande opened #147 "Error RNAccountKitNative.configure"
Hi Guys,

**### Issue Description**

My app is getting error: **undefined is not an object (evaluating 'RNAccountKitNative.configure')**.

I tried some solutions founded in this git, but without success.

The errors appeared on android and ios.

I followed all instructions to configure and install this api.

My **package.json**

{
  "name": "MyAppName",
  "version": "1.0.0",
  "private": true,
  "

[2018-08-07 17:20] leigh-johnson opened #148 "Build fails using react-native 0.55.4 & XCode 9.4"
### Issue Description

I added this lib to a new project, which I initialized by running `react-native init --version=0.55.4 <dir>`

Before I added this lib, `react-native run-ios` build succeeded. After I added this lib, I'm seeing the following error. I followed the installation, linking (via Cocoapods), and configuration instructions.

[code]

### Steps to Reproduce / Code Snippets

* `react-na

[2018-08-07 18:53] leigh-johnson commented on #148
I managed to figure this one out. =)

The error I posted above was actually caused by Metro bundler failing to build. The install instructions for `react-native-facebook-account-kit` created ambiguous dependency resolution.

[code]

I fixed this by using the following Cocoapods dependencies:

[code]

[2018-08-07 18:53] #148 closed

[2018-08-16 23:33] priezz commented on #104
@billel-boudchicha For Android I track `AppState` changes, for iOS AccountKit callback works as expected. So just do `if(Platform.OS === 'android')` checking, when calling `AppState.addEventListener` and `AppState.removeEventListener`

[2018-08-20 07:43] hoanghaihuy commented on #147
I got the same problem. worked fine on Android but this error appear when running on ios

[2018-08-23 07:25] dantn93 commented on #146
@nzhtrtlc please make a guideline to fix it. Thanks.

[2018-08-23 09:40] dantn93 commented on #146
@nzhtrtlc Do you just remove allowBackup attribute? I did but it still fails.
Please make a guideline to fix it. Thanks

[2018-08-31 14:31] Quadriphobs1 opened #149 "Accessing AccountKitConfigurationBuilder"
### Issue Description

Accessing the private method `AccountKitConfigurationBuilder` to custom configure the account functions. Especially `setInitialPhoneNumber`

### Steps to Reproduce / Code Snippets

Making the AccountKitConfigurationBuilder a public method and pass it to the javascript engine

### Additional Information

* Platform(s) (iOS, Android, or both?): both

[2018-08-31 14:35] gaguirre commented on #149
Hi @Quadriphobs1, you can set the initial phone number using `initialPhoneNumber` field when calling `RNAccountKit.configure` method (see [here](https://github.com/underscopeio/react-native-facebook-account-kit#usage)).
Also you can set the `initialPhoneCountryPrefix` if necessary (will be automatically detected if not).

[2018-08-31 14:35] #149 closed

[2018-09-01 21:56] Quadriphobs1 commented on #149
Actually what I wanted was the option to show the phone number detected on device in modal and as the user to select which preferred to be pre-filled. I have seen it in several app which uses `account-kit` and I am wondering if that option would do it or I have to do the tweeking myself

[2018-09-01 22:28] Quadriphobs1 commented on #149
Even by setting
[code]

the two options doesn't seems to work

[2018-09-02 17:51] KeegsMcGeegs commented on #146
I'm still having this same issue. Has anybody found a solution yet? @nzhtrtlc I tried removing the android:keyboardNavigationCluster attribute from node_modules/react-native-facebook-account-kit/android/build/intermediates/res/merged/release/values-v26/values-v26.xml but it seems to come back everytime I run the android build. Removing allowBackup didn't work either

[2018-09-02 19:51] nzhtrtlc commented on #146
Hi @dantn93 and @KeegsMcGeegs
What is your OS ?
@dantn93 What did  you receive that time ?
I will try it on my windows environment too, i let you know if i get any error and its solution

[2018-09-06 04:09] KeegsMcGeegs commented on #146
@nzhtrtlc  Windows 10

[2018-09-13 18:10] creativefull commented on #36
anyone got a solution for this error ?

[2018-09-14 15:23] jpgarcia opened #150 "Manifest merger failed : Attribute application@allowBackup"
### Issue Description

This is related to #136 and #146.

As mentioned [here](https://developers.facebook.com/docs/accountkit/accesstokens) Account Kit access tokens are not compatible with the auto backup feature introduced in Android 6.0 but **react-native-facebook-account-kit** `AndroidManifest.xml` [file](https://github.com/underscopeio/react-native-facebook-account-kit/blob/631ac920fce3819af1

[2018-09-14 15:36] jpgarcia commented on #146
Hi guys, I just filled out a new issue regarding the `allowBackup` error and I will summit the fix soon.

Regarding the `android:keyboardNavigationCluster` error I could workaround it by doing the following steps (with a **RN 0.56.0** sample):

1. Update `gradle` dependency in the `android/build.gradle` file to:

[code]

2. Update version of the gradle wrapper in `android/gradle/wrapper/gradle-wra

[2018-09-14 17:49] jpgarcia commented on #146
**UPDATE:** Just found a real solution which is updating the `compileSdkVersion`,  `buildToolsVersion` and `targetSdkVersion` project's `build.gradle`

I'll send a PR to fix the issue ASAP

[2018-09-14 18:04] jpgarcia opened #151 "Add RN056 example"
By doing this we will be able reproduce and fix issues: #136, #146 and #150

[2018-09-17 00:45] #150 closed

[2018-09-17 00:46] #146 closed

[2018-09-17 00:46] #151 closed

[2018-09-17 14:42] jpgarcia opened #155 "Android does not compile on RN 0.57.0"
### Issue Description
You execute `react-native run-android` and you get the following compilation error:

[code]
### Steps to Reproduce / Code Snippets

- react-native init {project}
- perform installation steps
- react-native run-android

#### Expected Results

App compiles.

### Additional Information

* React Native Account Kit version:  0.11.0
* React Native version: 0.57.0
* Platform(s) (iOS

[2018-09-17 19:56] younes200 commented on #123
It's look like calling `AccountKit.logout()` before solves the problem.

[2018-09-18 15:40] #155 closed

[2018-09-20 08:57] lilian131 commented on #36
@creativefull hi I had the same problem with a cordova plugin in ionic
for me it was because despite removing the token with a normal way when logout
[code]
I had to use the method provided to destroy the token like
[code]
and it works!!
Hope this will help other because this was something really frustrating as it made my server always crashed

[2018-09-24 03:55] tuan072090 opened #157 "Can not use with react native firebase starter project"
My project is initialized from [react native firebase starter project here](https://github.com/invertase/react-native-firebase-starter)

It work fine on iOS but on android.

First, android studio cannot synsc the project because of conflits google play service version. I manualy changed the versions in react-native-account-kit grade file as below

    implementation 'com.facebook.react:react-nativ

[2018-09-24 11:54] jpgarcia commented on #157
Hi @tuan072090

I tried what you mentioned with the latest **react-native-firebase-starter** and worked by doing the following steps:

1. Update the `react-native-firebase-starter/android/build.gradle` file and added de `configurations.all` node to force dependencies (no need to modify `react-native-facebook-account-kit` lib)

[code]
2. Update the `react-native-firebase-starter/android/app/src/nam

[2018-09-24 11:54] #157 closed

[2018-09-25 06:00] tuan072090 commented on #157
@jpgarcia  thank you so much, it worked perfectly 💃

[2018-09-26 10:48] oleksiiLevytskyi commented on #144
In my case it looks the same, but on android devices input shows without country name only code like this
<img width="315" alt="2018-09-26 13 45 04" src="https://user-images.githubusercontent.com/34065268/46075221-73fac380-c192-11e8-82e8-8d6a0c87f8d1.png">
how can I change it?

[2018-10-02 09:46] danhnguyeen opened #158 "[Android] App crashes when call to loginWithEmail/Phone"
## Hey Guy! Please help me to fix my issue

### Issue Description
I installed and linked React Native Account Kit to my project.
After fixed some issues, my app can start now.
But when i try to call to the loginWithEmail/Phone function, my app is crashed and auto closed.
Could you help me please?
Thank in advance!

**app/build.gradle**
dependencies {
    implementation project(':react-native-faceb

[2018-10-02 10:34] jpgarcia commented on #158
Hi @danhnguyeen we need the logs to see what is happening. Could you please run `adb logcat` when launching the app or get the logs from Android Studio? and post here the output?

[2018-10-02 10:57] danhnguyeen commented on #158
Hi @jpgarcia , thanks for you fast reply. I tried `adb logcat`, but i'm not sure it's useful. Because when the app is crashed, it doesn't log anything

10-02 17:54:51.694  9325  9325 D ReactNative: ReactInstanceManager.recreateReactContextInBackground()
10-02 17:54:51.694  9325  9325 D ReactNative: ReactInstanceManager.runCreateReactContextOnNewThread()
10-02 17:54:51.694  9325  9325 D ReactNative

[2018-10-02 11:02] danhnguyeen commented on #158
@jpgarcia  ah sorry, i have just re-edit the `logcat`

[2018-10-02 13:43] jpgarcia commented on #158
Not really sure but It seems there's a conflict with the `supportLibVersion`... did you try upgrading it to `27.1.1`?

[2018-10-02 14:47] danhnguyeen commented on #158
yes, that is exactly what i think. i think there are some conflict versions. i tried 27.1.1, but still same problem :(

[2018-10-02 14:51] jpgarcia commented on #158
Sorry to hear that 😞 Maybe if you create a sample in a public repo with the issue, I can help you to troubleshoot the issue...

[2018-10-02 14:54] jpgarcia commented on #158
You can also try by overriding the dependencies as I mentioned in this [issue](https://github.com/underscopeio/react-native-facebook-account-kit/issues/157#issuecomment-423949726) to workaround firebase dependencies using `resolutionStrategy`.

[2018-10-02 15:21] danhnguyeen commented on #158
@jpgarcia  i have just public my repo.
if you have time, can you help me please.
Really big thanks for that
https://github.com/amagumolabs/mylife-app-v2

branch `feat/facebook-account-kit ` please

[2018-10-02 16:08] jpgarcia commented on #158
I tried the branch you mentioned but the application bundle is throwing errors. Could you please check that? maybe you forgot to commit something.

[code]

[2018-10-02 16:18] danhnguyeen commented on #158
ah yes, the reason is Git doesn't update when i rename the files from lowercase to uppercase.
i have just disabled that modules. Could you re-pull the repo please

[2018-10-02 16:34] danhnguyeen commented on #158
sorry for that. Because it's working on my computer.
i have just renamed the files same with Git repo.
it should be ok now

[2018-10-02 17:52] jpgarcia commented on #158
Hey @danhnguyeen just got your app working with account kit by adding the following dependency to the `dependencies` section in `android/app/build.gradle` file.

`implementation "com.android.support:design:27.1.0"`

Let me know if it did the trick so I can close this one.

[2018-10-02 18:36] danhnguyeen commented on #158
My god, it's worked perfectly.
Your support is really saved my time too much.
Big thanks for your support.
Wish all the best for you, @jpgarcia

[2018-10-02 18:54] #158 closed

[2018-10-08 10:57] psanowski commented on #126
Any idea why iOS 12 Security code AutoFill not working with FAK?

[2018-10-08 21:57] jpgarcia commented on #126
Hi @psanowski as described by Facebook in their [FAQ page](https://developers.facebook.com/docs/accountkit/faq) the feature is not supported by the IOS SDK yet.

<img width="780" alt="screen shot 2018-10-08 at 6 38 32 pm" src="https://user-images.githubusercontent.com/95109/46635058-7dd4dd00-cb29-11e8-9683-3ba3419e87a4.png">

It seems that they have not implemented  the [oneTimeCode](https://devel

[2018-10-09 03:55] rassemdev commented on #126
@psanowski I read a article about that. It is security issue. Thats why iphone is not allowing auto read sms.

[2018-10-09 08:49] psanowski commented on #126
Update, one time code autofill works when I have iPhone languge set to English
and not working with Polish language
![img_0908](https://user-images.githubusercontent.com/33316862/46657581-e2874a80-cbb0-11e8-95f3-fc5d5d5cd979.jpeg)
![img_0909](https://user-images.githubusercontent.com/33316862/46657594-e87d2b80-cbb0-11e8-9afa-9d2a0f03fad5.jpeg)

[2018-10-09 08:58] psanowski commented on #126
I submitted the issue to the SDK
https://developers.facebook.com/support/bugs/530034470754541/

[2018-10-09 12:05] jpgarcia commented on #126
@psanowski So it worked OOTB then 👍

I guess Polish is not working as they detect certain words in the message.

I found the following phrase in this [article](https://www.benthamsgaze.org/2018/06/08/security-code-autofill-is-this-new-ios-feature-a-security-risk-for-online-banking/) which also describes what @rassemdev mentioned:

@rassemdev could you get the auto detect feature working on Android

[2018-10-10 08:15] rassemdev commented on #126
@jpgarcia i haven't tried to implement it after that. Currently im working on another project. So not getting enough time to implement that.It will be nice, you if try it out.

[2018-10-21 06:33] jose2007kj commented on #126
i shall try to implement autodetect otp in android..... if successful i will post my update  @jpgarcia

[2018-10-22 08:38] Desintegrator opened #159 "Android build error"
### Issue Description

Can't run application with latest release of account kit on Android

This is what i get:

* Where:
Build file 'path-to-node-modules/node_modules/react-native-facebook-account-kit/android/build.gradle' line: 32

* What went wrong:
A problem occurred evaluating project ':react-native-facebook-account-kit'.

### Steps to Reproduce / Code Snippets

1. run './gradlew installDebug

[2018-10-23 13:55] jose2007kj commented on #126
updated readme for adding permission for reading sms automatically and created pull request https://github.com/underscopeio/react-native-facebook-account-kit/pull/160

[2018-10-25 10:57] nickbyte opened #161 "Get code by call or FB notification is not available on IOS"
Get code by call or FB notification is not available on IOS. Available on android but not IOS

[2018-10-25 12:07] vwalletviettel commented on #114
It only occurred once, after kill or shut down this App, this bug will disappear. Anyone has solution for this case?

[2018-10-30 12:43] iamammar1 opened #162 "Auto Detection of SMS Verification Code not working"
I'm using the latest version of react-native-facebook-account-kit and Auto Detection of SMS Verification Code is not working.

[2018-10-31 14:22] MrLich commented on #159
how about ios ??? I can not run on ios :(

[2018-10-31 14:32] Desintegrator commented on #159
I have no problem with ios
Leave your logs here

[2018-10-31 15:45] jpgarcia commented on #159
@Desintegrator I've just run:

[code]
Then I followed the [Configuration steps](https://github.com/underscopeio/react-native-facebook-account-kit#configuration) described in the Readme and everything worked

It seems that the `Could not find method implementation()` error you are receiving is related to the gradle version. Please check the `android/build.gradle` file to see what version are you us

[2018-10-31 15:45] #159 closed

[2018-10-31 15:57] jpgarcia commented on #162
Just tried with latest version and it worked!

Did you check the Android section (step 3) [Configuration section](https://github.com/underscopeio/react-native-facebook-account-kit#configuration). Maybe you're not setting the `READ_SMS`, `RECEIVE_SMS `, `READ_PHONE_STATE ` permissions?

I'm closing this. If you are still facing the issue, please complete the ISSUE template with the required data (R

[2018-10-31 15:57] #162 closed

[2018-10-31 17:08] #126 closed

[2018-11-01 01:45] MrLich commented on #159
I have done it after installing by cocoaspod :) thanks for your comments.

Vào Th 4, 31 thg 10, 2018 vào lúc 22:52 Juan Pablo Garcia Dalolla <
notifications@github.com> đã viết:

[2018-11-01 23:19] henrique1977 commented on #147
I've got the same error. You have to compile again; only refreshing won't do.
Calling react-native run-ios again fixed it for me.

Good luck!

[2018-11-05 04:25] jose2007kj opened #163 "Phone number not getting autofilled"
### Issue Description

[Phone number not getting auto filled in android]

### Steps to Reproduce / Code Snippets

[added the permission in manifest file for read phone state]

#### Expected Results

[phone number field gets auto filled instead of user typing it]

### Additional Information

* React Native Account Kit version: [^0.9.3]
* React Native version: [0.57.0]
* Platform(s) (iOS, Android, o

[2018-11-07 08:45] ducpt2 commented on #114
+1 for the issue. I am facing the same problem.

[2018-11-18 17:11] nil1511 commented on #163
Set accountKitSdkVersion to 4.29.0 in root build.gradle
`setInitialPhoneNumber` is not working after 4.29.0

[code]

[2018-11-19 08:38] jose2007kj commented on #163
thanks @nil1511 i will check

[2018-11-22 14:19] tbanj commented on #68
Thanks @nikolay-radkov your solution works and after i changed it back to the .TOKEN it still work though at first initialization it have to be set to .CODE

[2018-12-10 02:43] jose2007kj commented on #163
@nil1511 on changing the account kitsdk version in ```
node_modules/react-native-facebook-account-kit
/android/build.gradle
[code]

[2018-12-12 01:21] AOHUA opened #167 "Login with phone works on Android but not on ios"
### Issue Description
We are using react-native-facebook-account-kit 1.0.0, it works perfectly on Android, however the same code on ios does not trigger the account kit UI.

### Steps to Reproduce / Code Snippets
The code are very straightforward and it works on Android
[code]
however it doesn't work in ios unless we do something like this:
[code]
#### Expected Results

Same code should work on iO

[2018-12-12 02:13] jpgarcia commented on #167
This is very strange thing. Is the `_handleAccountKitLogin` handler called when you click the button on ios if you just `console.log`?

If you want I can help you if you put together the sample in a public repo so I can troubleshoot it?

[2018-12-12 03:04] AOHUA commented on #167
I think we found the problem, because our login page is a modal and account kit is trying to show another modal. Thank you for the fast reply. I will close this issue.

[2018-12-12 03:05] #167 closed

[2018-12-12 11:58] azamouchi commented on #144
i'm having the same issue here, using release v0.10.1 of the module, and yes i confirm that it's only happening on simulators, but this is critical, because when you submit the app to app store for review, they test your app on a simulator, and when they faced this issue they reject my build because of a
 **UI design and user experience issue**  😞

I tried to explain that this happens only on a si

[2018-12-14 02:17] iadcg opened #169 "Callbacks for back and other buttons"
How to have callback on the button clicks in the verify code page.
Basically I want to know when the user click "I didnt receive a code" button.
So when the user clicks this button, I want to do some loggings or other stuff.

Also I want to know if user press back button instead and did not continue on the screen.

![fb-accountkit](https://user-images.githubusercontent.com/45412363/49979243-261f7b

[2018-12-17 07:39] nil1511 commented on #163
@jose2007kj update in PROJECT_FOLDER/android/build.gradle not in node_modules.

[2018-12-19 14:40] manurana commented on #144
I think I have a diagnosis and a fix for this. This seems to be an issue with the FB iOS Account Kit SDK which was fixed at some point of time. The problem is that if you added react-native-facebook-account-kit to your RN app using the drag-and-drop method, the new FB iOS SDK never gets updated even if you update the version of react-native-facebook-account-kit.

Here is what I did to resolve it.

[2018-12-20 10:34] azamouchi commented on #144
@manurana ,Yes, i've had to do the same thing tpp (without using cocoapods), the issue is inside **AKFViewController** itself, and we have no control of it, here is how i proceeded to fix the issue :
- Downloaded the latest version of FBSDK for iOS (4.39.0 for now)
- Replaced the **AccountKit.framework** and **AccountKitStrings.bundle** in both react-native-facebook-account-kit module folder and m

[2018-12-27 06:37] jose2007kj commented on #163
hi @nil1511 sorry, it seems its because i need to request runtime permission for new versions of android..... once again thanks

[2018-12-27 11:15] #163 closed

[2019-01-06 03:00] danhnguyeen opened #172 "[Android] The app is crashed after change the googlePlayServicesVersion"
## Hi there! Could you help me the below issue please?

### Issue Description
Before, the `googlePlayServicesVersion` in my project is "11.8.0", the `facebook-account-kit` worked perfectly.
But after install the `react-native-fcm`, I need to upgrade the `googlePlayServicesVersion` to "15.0.1" (otherwise the app will be crashed when it's starting)
But after upgrade the `googlePlayServicesVersion`,

[2019-01-06 13:35] danhnguyeen commented on #172
ah, when I try to view the dependencies tree, I found that the `com.facebook.android:account-kit-sdk:4.36.0` requires the `play-services-base:11.8.0`, so maybe it is conflicted with `react-native-fcm`

[code]

but the `com.facebook.android:account-kit-sdk:4.23.0` is not requires that (although I don't know why)
[code]

So I tried to exclude the conflicting module `com.facebook.android:account-kit-

[2019-01-07 09:14] dattran97 commented on #96
Same issue on "react-native": "0.57.7" and "react-native-facebook-account-kit": "1.0.1"

[2019-01-08 14:24] tmjordan commented on #37
Hi, first thank you for that amazing project. It really helps.
But can u please upgrade to the latest SDK, currently it is 4.39
I've found a workaround on ios by downloading the sdk myself but i don't find any solution on android.
Thanks!!

[2019-01-08 14:24] tmjordan opened #173 "Latest Facebook Account Kit SDK"
Hi, first thank you for that amazing project. It really helps.
But can u please upgrade to the latest SDK, currently it is 4.39
I've found a workaround on ios by downloading the sdk myself but i don't find any solution on android.
Thanks!!

[2019-01-09 03:37] dattran97 commented on #159
@jpgarcia I have followed all your steps but it still have error. I use react-native: 0.57.3 and facebook-account-kit: 1.0.1
[code]

[2019-01-10 01:35] guihouchang commented on #172
The same problem. I hope someone can fixed it, please!

[2019-01-10 11:15] jpgarcia commented on #172
I'm closing as it is a common case in which you need to perform dependencies resolutions manually. You can also find another case we discussed in the past here https://github.com/underscopeio/react-native-facebook-account-kit/issues/157#issuecomment-423949726

[2019-01-10 11:15] #172 closed

[2019-01-11 16:10] lucamir commented on #94
Try to remove the node_modules folder and ran npm install.
Worked on my case.

[2019-01-14 00:14] jpgarcia commented on #96
Hi @dattran97 I've just put together a new example [RN0577](https://github.com/underscopeio/react-native-facebook-account-kit/tree/master/examples/RN0577) with the versions you mention and it works. You can compare it with your code to see what can be wrong.

[2019-01-14 01:15] jpgarcia commented on #147
It seems that this related to a misconfiguration issue. Closing it for now, if issue still happening please provide a public repro with the source code failing so we can troubleshoot it.

[2019-01-14 01:15] #147 closed

[2019-01-21 00:20] jpgarcia commented on #169
AFAIK the AccountKit library does not provide callback for internal events. You only get access to the login result, cancelled state and error through the callback.

[2019-01-21 00:20] #169 closed

[2019-01-21 16:14] lex-github opened #174 "Property enbaleGetACall not found on object of type UIViewController<AKFViewController>"
### Issue Description

Fresh project, after installing toolkit ios project does not compile with the error above

### Additional Information

* React Native Account Kit version: 1.0.x
* React Native version: 0.57
* Platform(s) (iOS, Android, or both?): iOS
* Platform Version(s): 9.3 (9E145)

![screenshot 2019-01-21 19 00 45](https://user-images.githubusercontent.com/3257119/51486034-aae38d80-1db0-

[2019-01-21 18:45] jacklandau opened #175 "undefined is not an object (evaluating 'RNAccountKitNative.configure')"
### Issue Description

undefined is not an object (evaluating 'RNAccountKitNative.configure')

configure
    index.js:64:30
<unknown>
    LoginAccountKit.js:9:23
loadModuleImplementation
    require.js:214:12
<unknown>
    AppNavigator.js:8
loadModuleImplementation
    require.js:214:12
<unknown>
    App.js:4
loadModuleImplementation
    require.js:214:12
<unknown>
    AppEntry.js:2
loadModuleImpl

[2019-01-22 08:20] lex-github commented on #174
checked in latest xcode and still not working

[2019-01-22 17:30] Tebrynn commented on #174
Same problem here. Tried to relink

[2019-01-23 12:48] lex-github commented on #174
commenting the line out is enough to get it working though

[2019-01-24 18:57] tmjordan commented on #174
i had the same problem, and what i did: after the build failed, i closed xcode and i relaunched it, and as soon as it get started, i relaunched the build and it worked. i tried 3 times.
it is not a fix, but maybe it can help you

[2019-01-24 19:15] tmjordan commented on #174
you have to also clean the project

[2019-01-26 04:02] NguyenPhatBG commented on #175
@jacklandau  @lex-github check my code in MainApplication.java, I find the issues,
 new RNAccountKitPackage() lose out my code :(, after provided, run app again and solved 💃

[2019-02-01 08:34] SORNVENGE commented on #175
if (self.getACallEnabled == YES) {
        viewController.enableGetACall = self.getACallEnabled;
    }

it error in my project so how to fix it?

[2019-02-02 12:02] tmjordan commented on #175
same problem, it seems related to xcode

[2019-02-02 12:06] tmjordan commented on #174
@lex-github if you do that you won't be able to use phone call to receive verification code.
The problem seems to be related to xcode. Sometimes builds succeed sometimes not.

[2019-02-02 16:13] jpgarcia commented on #118
It seems that the flag is only for the web. I couldn't find any reference of that flag for Android nor IOS.

[2019-02-02 16:13] #118 closed

[2019-02-02 19:42] gHashTag commented on #68
I forgot to publish the application. After switching everything worked.

<img width="312" alt="screenshot 2019-02-02 at 22 41 07" src="https://user-images.githubusercontent.com/6774813/52168466-c0a36c00-273b-11e9-9a8c-8f0c81101d76.png">

[2019-02-03 16:04] HoangThongBui commented on #174
I got this error only when running on real device but Simulator is fine.
What I did: comment the line `viewController.enableGetACall = self.getACallEnabled;` in `RNAccountKitViewController.m` and it worked.

[2019-02-03 16:11] jpgarcia commented on #174
The issue is because current's AK version included in this project does not include that feature.

I'm about to publish a new version that should fix the issue. I'll keep you posted here.

Thanks for all the feedback

[2019-02-03 19:44] jpgarcia commented on #144
Closing this. Should be fixed on `v1.1.0` as described here https://github.com/underscopeio/react-native-facebook-account-kit/pull/164

[2019-02-03 19:44] #144 closed

[2019-02-03 19:45] jpgarcia commented on #76
Closing this. Should be fixed on `v1.1.0` as described here https://github.com/underscopeio/react-native-facebook-account-kit/pull/164

[2019-02-03 19:45] #76 closed

[2019-02-03 19:52] jpgarcia commented on #174
I've just published a new version `1.1.0` which upgrades the AK framework to the latest version `4.40.0` for IOS and `4.+` for Android (currently `4.39.0`).

If you are NOT using `Cocoapods` and linked this library manually I must do the following steps:

1. Open your project with XCode
2. Remove the `AccountKit.framework` and `AccountKitStrings.bundle` references from your project
3. Follow the s

[2019-02-03 19:52] #174 closed

[2019-02-12 19:37] crsgarcias commented on #147
Someone can fix the error? I have the same

[2019-02-13 09:50] adrianofernande commented on #147
Hi Garcias,

I didn't can fix this error, so, for now, I'm not using this lib.

I'm using twilio, but this service is pay  :(

Adriano

Em ter, 12 de fev de 2019 às 17:37, crsgarcias <notifications@github.com>
escreveu:

[2019-02-13 10:06] tmjordan commented on #147
@adrianofernande try what @nhnam said. I also think that is your problem.
Be sure to having the last version of the lib, and also recompiling all your project

[2019-02-13 10:16] tmjordan commented on #147
@adrianofernande actually if you are using expo, you must eject your expo project first, because you have to link the library with the native projects. I think that's why you receive that error

[2019-02-13 11:08] jpgarcia commented on #125
Hi @RossKinsella did you try the latest `react-native-facebook-account-kit` which upgrades the facebok sdk to the last one?

[2019-02-13 11:09] jpgarcia commented on #120
Closing this due to inactivity

[2019-02-13 11:09] #120 closed

[2019-02-13 11:11] jpgarcia commented on #106
Closing this due inactivity. Fell free to reopen it if still facing the issue

[2019-02-13 11:11] #106 closed

[2019-02-13 11:13] jpgarcia commented on #111
Could you try with the latest version? I'm closing this one. Feel free to reopen it if still happening

[2019-02-13 11:13] #111 closed

[2019-02-13 11:14] jpgarcia commented on #114
Guys, can you try with the latest version?

[2019-02-13 11:16] adrianofernande commented on #147
@tmjordan I tryed to eject my project from expo and link it, but the lib
isn't available to use with react native in the native form. I tryed to use
the mobile web form to without success.

For these reason, I quitted.

Adriano

Em qua, 13 de fev de 2019 às 08:16, tmjordan <notifications@github.com>
escreveu:

[2019-02-13 11:16] jpgarcia commented on #77
Closing this as it's not a library issue. I'd rather post this on https://www.facebook.com/help/community/

[2019-02-13 11:16] #77 closed

[2019-02-13 11:20] jpgarcia commented on #78
Closing this as the latest version allows you to validate your phone using phonecall or facebook notification. See https://github.com/underscopeio/react-native-facebook-account-kit/pull/171#issuecomment-453938630

[2019-02-13 11:20] #78 closed

[2019-02-13 11:21] jpgarcia commented on #90
Guys, can you try with the latest version?

[2019-02-13 11:23] jpgarcia commented on #115
Nope, facebook sdk doesn't allow that. You can only set the enabled/disabled states stye 😢

[2019-02-13 11:23] #115 closed

[2019-02-13 11:25] jpgarcia commented on #129
There's no way to do that, Facebook SDK doesn't allow that.

[2019-02-13 11:25] #129 closed

[2019-02-13 11:25] jpgarcia commented on #124
Apparently there's no way to do that. Closing this one

[2019-02-13 11:25] #124 closed

[2019-02-13 11:45] tmjordan commented on #147
@adrianofernande, i'm not sure to really understand your problem. I mean that's exactly what the lib does. Accountkit is built on native platforms, so that lib allows you to interact with the native functionalities of AccountKit.
Anyway you can't use it with an expo project. After ejecting, you must follow the documentation to install and link the lib correctly.
That's definitely a link issue, and

[2019-02-13 13:11] crsgarcias commented on #147
Thank you, but i cant fix the error, I quited the library because I was trying without success.
Someone have an example?

[2019-02-13 13:35] adrianofernande commented on #147
@tmjordan I already used this lib in native platform before, but I couldn't
use it in react native even after ejected from expo.

I followed all instructions in documentation and some tips in various
forums, but without success.

@tmjordan if you can to post a full code to examplify how I can do that in
react native, I really appreciate man, because this lib is awesome and I
don't know what I did

[2019-02-13 15:17] tmjordan commented on #147
@adrianofernande
For Android, you must have:
* in settings.gradle
`include ':react-native-facebook-account-kit'
project(':react-native-facebook-account-kit').projectDir = new File(rootProject.projectDir, '../node_modules/react-native-facebook-account-kit/android')`

* in your app/build.gradle
`
    implementation project(':react-native-facebook-account-kit')`

* in MainApplication.java
`
import io

[2019-02-13 15:22] tmjordan commented on #147
For ios, if you are using cocoapods, you must have that line in your Podfile
`pod 'RNAccountKit', :path => '../node_modules/react-native-facebook-account-kit/ios'`
Then run Pod install
If you are not using cocoapods, you must link the library as explained in the documentation of RNAccountkit

[2019-02-13 15:28] tmjordan commented on #147
@adrianofernande  I recommend you to install the lib, in a fresh pure react native project. Then link the library and try use it. At least to well understand how it works.
You must also rebuild all your native projects, after the linking

[2019-02-13 15:33] tmjordan commented on #147
[code]

[2019-02-13 15:37] tmjordan commented on #147
I think the solution of your problem, could also be the answer of @nhnam.
Anyway try with code.
And don't forget to rebuild all your native projects

[2019-02-13 15:42] tmjordan commented on #147
[code]

[2019-02-13 16:52] adrianofernande commented on #147
@tmjordan show man!!!

I'll try to do this in this weekend and I'll let you know about

thanks a lot man!!!

Em qua, 13 de fev de 2019 às 13:42, tmjordan <notifications@github.com>
escreveu:

[2019-02-13 18:23] crsgarcias commented on #147
I qas run the example RN0577 and its ok, but in my project not working. I have react-native react-native-fbsdk too.

The error is:
[code]

[2019-02-13 18:42] crsgarcias opened #176 "Android dependency 'com.android.support:support-v4' has different version for the compile (27.0.2)"
I was running the example RN0577 and its ok, but in my project not working. I have react-native react-native-fbsdk too.

The error is:

[code]

My package.json is:
[code]

[2019-02-13 19:00] tmjordan commented on #147
@crsgarcias try adding this
`implementation ("com.android.support:support-v4:27.1.1") {
       force = true
}`

[2019-02-13 19:01] tmjordan commented on #147
in dependencies section of your android/app/build.gradle

[2019-02-13 19:06] crsgarcias commented on #147
Thank you.

The libraries react-native react-native-fbsdk + react-native-facebook-account-kit can be together?

apply plugin: "com.android.application"

[code]

After Add that line, i have the result:

[code]

[2019-02-13 19:47] tmjordan commented on #147
@crsgarcias , which version of react-native-fbsdk are you using? If you don't have the latest, then get it.
I've never experienced that issue before. Maybe you can find solution on the github of react-native-fbsdk

[2019-02-13 22:26] crsgarcias commented on #147
The version is 0.8.0, In the site is https://github.com/facebook/react-native-fbsdk

[2019-02-14 12:50] tmjordan commented on #147
@crsgarcias here is an android/build.gradle which is working for me. I'm using react native 0.57.8.
Hope it can help
`
apply plugin: "com.android.application"

import com.android.build.OutputFile

/**
 * The react.gradle file registers a task for each build variant (e.g. bundleDebugJsAndAssets
 * and bundleReleaseJsAndAssets).
 * These basically call `react-native bundle` with the correct argument

[2019-02-14 12:51] tmjordan commented on #147
[code]

[2019-02-14 12:52] tmjordan commented on #147
@crsgarcias here is an example of android/build.gradle which is working for me. I'm using react native 0.57.8. Hope it can help.
[code]

[2019-02-14 14:56] crsgarcias commented on #147
@tmjordan  thank you, after your example my app/build.graddle look like this

[code]

I had to add in android/build.graddle the line
`classpath 'com.google.android.gms:play-services:11.4.0'`

The output of console is
[code]

But now, when the app is starting in the emulator, this is crashing.

Thank you @tmjordan

[2019-02-14 16:59] tmjordan commented on #147
@crsgarcias, i think you must had those lines and replace 16+ by your the version of google play services you are using.
I also had the crash problem, that solution worked for me. I'm not an android developper, so i can't tell you more
Everything is ok on ios??
[code]

[2019-02-14 17:01] tmjordan commented on #147
i think the crash is related to a conflict with google play services

[2019-02-14 17:58] crsgarcias commented on #147
I think so.

I modified my android/app/build.graddle

[code]
My android/build.graddle too

[code]

The app work!. I think the crash was caused by **react-native-admob** + react-native-facebook-account-kit, I'm cheking this beacause I need the advertising to ear some money.

[2019-02-14 18:12] tmjordan commented on #147
@crsgarcias yes, i did'nt see that you were using admob too. I had the same problem becouse of that

[2019-02-14 18:14] tmjordan commented on #147
Check that link [https://github.com/sbugert/react-native-admob/issues/370](url)

[2019-02-14 18:17] tmjordan commented on #147
Check that link:  https://github.com/sbugert/react-native-admob/issues/370

[2019-02-18 20:24] crsgarcias commented on #147
Yes I will check that integration with admob. In this moment I quited the library. Thank you @tmjordan In this moment I am checking the  realease because I dont get it.

[2019-02-19 08:35] phanbien9x commented on #176
Did you find a solution @crsgarcias. I have the same problem!

[2019-02-19 09:59] jpgarcia commented on #176
can you guys create a public repo with a simple project so we can reproduce and troubleshoot the issue?

[2019-02-19 10:04] tmjordan commented on #176
@phanbien9x , try to add these lines in your android/app/build.gradle dependencies
[code]

[2019-02-19 10:48] phanbien9x commented on #176
@tmjordan after add these line, clear bundle, delete node_modules, run: npm install. And try to build the app many time and it worked. But now my app crash. Build Successful but why? @jpgarcia. I will put a repo.

[2019-02-19 13:13] bijoycse commented on #136
I have same issues.. apps is crash
 "react-native-facebook-account-kit": "^1.0.2",
 "react-native-firebase": "^5.1.0",

[2019-02-19 14:49] phanbien9x commented on #176
My repo: https://github.com/phanbien9x/Test_AK . Please tell me for the result of this. Grateful thanks!

[2019-02-19 15:01] tmjordan commented on #176
@phanbien9x, try this:
[code]

[2019-02-19 15:02] tmjordan commented on #176
@phanbien9x, try this:
[code]

[2019-02-19 15:09] tmjordan commented on #136
there is a conflict with google play services. React native firebase and account kit use different play services.

[2019-02-19 16:38] phanbien9x commented on #176
I changed my build.gradle like your recomend
[code]
But the app still crash. Sad!

[2019-02-19 16:39] RossKinsella commented on #125
Hey @jpgarcia

I have not. I suspect I was working off whatever was latest at the time of creating this issue. I have moved on from that project, so I'm not much use in providing additional information at this point, sorry!

[2019-02-19 16:46] tmjordan commented on #176
@phanbien9x at what time does it crash?

[2019-02-19 21:19] jpgarcia commented on #125
Ok, thanks for answering! I'm closing this for now then

[2019-02-19 21:19] #125 closed

[2019-02-20 01:12] phanbien9x commented on #176
@tmjordan At the start after build successful!.  I waste a day for this error. Is it happen when my sdk is to                                        old? I will update the sdk packager hope this help.

[2019-02-20 02:37] crsgarcias commented on #176
@phanbien9x  yes I can fix the error! the problem was react native admob and I setted the configurations that @tmjordan said me

[2019-02-20 02:55] phanbien9x commented on #176
@crsgarcias Did you fix this?

[2019-02-20 03:00] jpgarcia commented on #176
I'll close this issue since it is not related to the library itself but related to some specific compatibility configuration. In any case you can still discussing around it here in case someone face the same issue

[2019-02-20 03:00] #176 closed

[2019-02-20 05:09] bijoycse commented on #136
_I have solved it by simply down grade the version of react-native-facebook-account-kit as well as add implementation "com.android.support:design:27.1.0"_
------------------------------------------------------------------------------
before : "react-native-facebook-account-kit": "^1.0.2"

now : "react-native": "0.57.8",
          "react-native-facebook-account-kit": "^0.11.0",
          "react-nat

[2019-02-20 05:20] bijoycse commented on #158
_I have solved it by simply down grade the version of react-native-facebook-account-kit as well as add implementation "com.android.support:design:27.1.0"_
--------------------------------------------------------------------------------
before : "react-native-facebook-account-kit": "^1.0.2"

now : "react-native": "0.57.8",
"react-native-facebook-account-kit": "^0.11.0",
"react-native-firebase": "^5

[2019-02-20 09:16] phanbien9x commented on #176
After update sdk jdk, android studio, android 9 (Api Level 28), update newest react native project. It finally not crashing again. So long day! -_

[2019-02-20 09:24] phanbien9x commented on #176
Thank you @tmjordan for helping me! Your recommend is usefull.

[2019-02-20 13:11] crsgarcias commented on #176
@phanbien9x you did it! jaja

[2019-02-21 07:39] phanbien9x commented on #176
No. It still not work. It only work when i run it in new project. But when I run in my project nothing change. I'm trying to make it work! -_

[2019-02-21 08:19] phanbien9x commented on #176
AccountKit.loginWithPhone = undefined. Why it happen ?

[2019-02-21 09:06] phanbien9x commented on #136
I use react native fcm. Have the same error.
"react-native": "0.58.5",
"react-native-facebook-account-kit": "^1.1.0",
"react-native-fcm": "^16.2.4",

[2019-02-21 12:10] bijoycse commented on #136
Better to make it two individual part.
1. Part 1 Integrate
"react-native": "0.58.5",
"react-native-facebook-account-kit": "^1.1.0"
*Observe its work or not*
2. Part 2 Integrate
"react-native": "0.58.5",
"react-native-fcm": "^16.2.4",
_last combine it_

[2019-02-21 12:56] phanbien9x commented on #176
For someone like me use firebase of fcm with this package.
Change "react-native-facebook-account-kit": "^0.11.0",
And add implementation "com.android.support:design:27.1.0" -- Not another version! I checked.
And it work. Hope it help!

[2019-02-21 15:35] jpgarcia commented on #176
@phanbien9x did you check my suggestion here => https://github.com/underscopeio/react-native-facebook-account-kit/issues/157#issuecomment-423949726

[2019-02-21 15:37] jpgarcia commented on #136
Guys take a look at my comments here => https://github.com/underscopeio/react-native-facebook-account-kit/issues/157#issuecomment-423949726

[2019-02-22 04:03] phanbien9x commented on #176
@jpgarcia I will check and show you the result.

[2019-02-22 08:10] phanbien9x commented on #176
@jpgarcia FCM build.gradle here. How can i force dependencies. I try to add your code to the end of file but nothing happens.
https://github.com/evollu/react-native-fcm/blob/master/android/build.gradle

[2019-02-22 08:47] phanbien9x commented on #158
@bijoycse Can you create release apk? I follow your recommend but when release it not work.
My logcat:
[code]

[2019-02-22 10:59] bijoycse commented on #158
@phanbien9x
**Please add this line android/build.gradle**

[code]

[2019-02-23 05:17] phanbien9x commented on #158
@bijoycse Did you try #157 solution. I don't know how to implement that!

[2019-02-23 07:48] bijoycse commented on #158
@phanbien9x
Yes i use react-native-firebase so please go through and [this link](https://medium.com/@yangnana11/how-to-set-up-firebase-notification-in-react-native-app-android-only-4920eb875eae) and implement.

[2019-02-23 14:10] phanbien9x opened #177 "Crash when using with react-native-fcm"
I try several for implement react-native-facebook-account-kit and react-native-fcm. Try to change version to 0.11.0 and lastest version of fcm. It work but I can't build apk release. So I comeback to lastest version of react-native-facebook-account-kit. I also try to add  comments #157 to the begin of fcm/android/build.gradle. But nothing change. I try to change react-native-fcm to react-native-fi

[2019-02-23 15:30] tmjordan commented on #177
@phanbien9x If it only crashes when building apk release, try adding this to your android/build.gradle
[code]
Replace 27.0.3 by your build tools version

[2019-02-23 15:34] tmjordan commented on #177
@phanbien9x If it only crashes when building apk release, try adding this to your android/build.gradle

[code]

[2019-02-23 20:56] phanbien9x commented on #177
No it crash any time I click on sms or email function. So sad @tmjordan. Can you check my repo please!

[2019-02-25 02:07] phanbien9x commented on #158
Thank you @bijoycse. I tried but it hard to implement!

[2019-02-25 04:16] bijoycse commented on #158
@phanbien9x
Yes i use react-native-firebase so please go through and [this link](https://medium.com/@yangnana11/how-to-set-up-firebase-notification-in-react-native-app-android-only-4920eb875eae) and implement.

[2019-03-02 05:18] kokorolee opened #178 "unfo"
## Hey there! Please follow the steps described below

Before submit a new issue be sure about the following points

- [ ] You're using the latest release of this module: https://github.com/underscopeio/react-native-facebook-account-kit/releases

- [ ] You've searched through existing issues: https://github.com/underscopeio/react-native-facebook-account-kit/issues and the issue is not already repo

[2019-03-02 05:18] #178 closed

[2019-03-02 16:37] cgdstnc commented on #177
i have same problem. Similarly app crashes when i call RNAccountKit.loginWithPhone. I created new project added facebook sdk, added this account kit, added react-native-firebase ( core + fcm)

[2019-03-06 09:38] ppv94 commented on #107
@gaguirre The same issue for me also
there is no problem in settings.gradle, library was linked properly.
MainApplication.java:7: error: package io.underscope.react.fbak does
not exist
import io.underscope.react.fbak.RNAccountKitPackage;
                               ^
MainApplication.java:68: error: cannot find symbol
            new RNAccountKitPackage(),

[2019-03-06 09:43] ppv94 opened #179 "error: package io.underscope.react.fbak does not exist"
there is no problem in settings.gradle, the library was linked properly.
I getting this error in Android,
MainApplication.java:7: error: package io.underscope.react.fbak does
not exist
import io.underscope.react.fbak.RNAccountKitPackage;
                               ^
MainApplication.java:68: error: cannot find symbol
            new RNAccountKitPackage()

[2019-03-07 10:11] ppv94 opened #180 "'com.android.support:appcompat-v7' has different version for the compile (27.1.0) and runtime (27.1.1) classpath"
I am trying to implement account-kit in my project, it works fine in Ios but it throws an error in android.
My error was
[code]
My package.json is:
[code]

[2019-03-07 10:12] #179 closed

[2019-03-07 10:13] ppv94 commented on #179
react-native-facebook-account-kit module was not linked properly,
react-native link react-native-facebook-account-kit solved this issue

[2019-03-08 14:27] kokorolee commented on #132
You can change the language of your phone. The Account Kit will auto change text/ receive SMS language for you.

[2019-03-11 14:26] Aung-Myint-Thein commented on #157
Hello, I am using RN 57.5 and react-native-facebook-account-kit 1.1.0. the build was successful but app cannot start by saying "Unfortunately, app has stopped". I have tried the steps mentioned above and issue #159 but still cannot get the app running. iOS is running fine. The issue is only on Android. Our configurations are as follows. Would appreciate if you can take a look and give some suggest

[2019-03-12 02:43] khuyendev commented on #99
cc

[2019-03-12 11:00] thangvo406 opened #181 "Attempt to invoke virtual method 'void com.facebook.marketing.ViewIndexer.unschedule()' on a null object reference"
I use react-native-facebook-account-kit library. The build is uploaded production. I get this error. But I don't know where the error

Error detail blow

`Fatal Exception: java.lang.RuntimeException: Unable to pause activity {com.abc.xyz/com.facebook.accountkit.ui.AccountKitActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.facebook.marketing.ViewIndexer.unschedu

[2019-03-13 03:48] Donhv commented on #181
same ....

[2019-03-13 05:57] thangvo406 commented on #181
@Donhv Are your issue resolved?

[2019-03-13 06:43] Donhv commented on #181
no solution.

[2019-03-18 10:23] AiritAndroid commented on #17
java.lang.RuntimeException:
  at android.app.ActivityThread.performLaunchActivity (ActivityThread.java:2957)
  at android.app.ActivityThread.handleLaunchActivity (ActivityThread.java:3032)
  at android.app.ActivityThread.-wrap11 (Unknown Source)
  at android.app.ActivityThread$H.handleMessage (ActivityThread.java:1696)
  at android.os.Handler.dispatchMessage (Handler.java:105)
  at android.os.Loop

[2019-04-02 02:15] Donhv commented on #181
i fix it by upgradge fbsdk

[2019-04-04 02:48] SAHITYASAI opened #182 "'Get a code on facebook' option not working"
I integrated react-native-facebook-account-kit and used the **loginWithPhone()** and **getCurrentAccount()** methods in a uber-like react native app. I entered my mobile number, choose the **didn't get a code** and **get a code on Facebook** options and waited for a day to **get a notification on my Facebook account** to which the entered mobile number is linked. **But didn't receive any notificat

[2019-04-04 03:47] srichallamalla935 opened #183 "Verifying the Phone Number"
** Issue Description **

In Android devices Screen **get Strucked in the Verifying Phone Number Screen** .Device is getting the otp  but it is showing loading sign that verifying the number and the screen remains  without opening the otp screen

** Additional Information

** Code Snippets

[code]

** Expected Results

Otp Screen should be opened to enter the otp

![Screenshot_2019-04-03-15-46-11-6

[2019-04-06 06:33] chandrabudiman opened #184 "TypeError : Network Request Failed"
### Issue Description
I had success run the tutorial PART 1 - 3 from below link,
[PART 1](https://medium.com/react-native-training/passwordless-authentication-in-react-native-using-facebook-account-kit-part-1-8d83e92077e9)
[PART 2](https://medium.com/react-native-training/passwordless-authentication-in-react-native-using-facebook-account-kit-part-2-367a820f269c)
[PART 3](https://medium.com/react-n

[2019-04-06 07:40] chandrabudiman commented on #184
I change to another Internet WIFI network then it WORKS..
I dont know what happen here.
I spend 3 hours to find out the problem.

[2019-04-06 07:40] #184 closed

[2019-04-10 08:28] shubhamverma27 commented on #126
How to do this on IOS (React Native)?
Any tutorial?

[2019-04-30 10:51] kishanverma26 commented on #128
Not working for me

[2019-05-08 08:30] rautram opened #185 "an internal consistency errror occured while calling RNAccountKit.getAccount()"
## Hey there! Please follow the steps described below

Before submit a new issue be sure about the following points

 [ ] You're using the latest release of this module: https://github.com/underscopeio/react-native-facebook-account-kit/releases

[ ] You've searched through existing issues: https://github.com/underscopeio/react-native-facebook-account-kit/issues and the issue is not already reporte

[2019-05-08 10:24] #185 closed

[2019-05-10 11:57] danhnguyeen opened #186 "App Store Warning "Unrecognized Locale", and sometimes Facebook don't send the login code"
## Hey there! I have two problems

### Issue Description
First, I don't know why but in some cases, the Facebook didn't send the login code to me. Even when I tried to login again many times, but I still didn't receive the code.

But in the rest cases, it often works well. I was wondering if you would give me some advice for this case please?

And the second thing, I have just upgraded the latest

[2019-05-10 16:14] danhnguyeen commented on #186
About the `Unrecognized Locale` warning, it seems I just need to remove the `ckb_IQ.lproj` package in `AccountKitStrings.bundle/Resources`?

[2019-05-13 09:48] seunlanlege opened #187 "Update Accountkit Sdk to v5"
the new sdk supports whatsapp verification

[2019-05-13 11:35] dimgrav opened #188 "App keeps stopping (React Native v.0.59.8)"
### Issue Description

App keeps stopping on emulator (API 27-28) and physical device (API 28).

_React Native version used is newer than the latest supported version._

### Steps to Reproduce / Code Snippets

With AVD installed and properly configured:

[code]

#### Expected Results

The app should start and stay open until dismissed.

### Additional Information

* React Native Account Kit versio

[2019-05-13 12:15] dimgrav commented on #188
Closed, as there was misconfiguration elsewhere, from my part.

[2019-05-13 12:15] #188 closed

[2019-05-14 02:43] laychar opened #189 "callback for cancel"
### Issue Description

I want make my app  execute some code right after users cancel sign in.

For example my app's login page has several options for sign in method such as facebook login , phone verification etc...
If a user who want to sign in by verifying email select phone verification by mistake, he or she will cancel verifying phone and go back to login page to select email verification bu

[2019-05-20 23:14] sunshineo commented on #187
I needed to do this for Android only, so I created this https://github.com/underscopeio/react-native-facebook-account-kit/pull/190 . I can say it works for me on Android

Hope someone else can do it for iOS

[2019-05-30 20:24] tombaki opened #191 "[AKFNavigationController setUiManager:]: unrecognized selector sent to instance"
### Issue Description

while click sms for login app crash with

*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[AKFNavigationController setUiManager:]: unrecognized selector sent to instance

### Steps to Reproduce / Code Snippets

click sms button make app crash with

*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[AKF

[2019-05-31 03:44] #191 closed

[2019-06-02 10:42] danhnguyeen commented on #74
this issue have appeared again in RN 0.59.8. How can I fix it please?

[2019-06-10 14:50] jxnata commented on #188
Hi, I have the same problem. How did you solve it?

[2019-06-14 04:26] anniewey commented on #189
@laychar As mentioned in doc,

[code]

[2019-06-14 11:04] #189 closed

[2019-06-25 23:54] TheJackTenor opened #193 "App crash when navigating to account kit page"
### Issue Description

I had experienced crash app when i try to go to Account Kit page

### Steps to Reproduce / Code Snippets

1. Go To Account Kit Page
2. App Crash
3. Error message: 'NSInvalidArgumentException', reason: '-[AKFNavigationController setUiManager:]: unrecognized selector sent to instance 0x7f85150a5200'

#### Expected Results

Account Kit page should be show

### Additional Inform

[2019-06-26 02:05] kevinkevw commented on #187
I am not 100% sure, but current version on iOS already supports whatsApp OTP in my case.

[2019-06-26 07:07] adarsh431 commented on #187
Hi @kevinkevw can you please share the changes you did to support WhatsApp OTP.
I am getting the SMS but not receiving the OTP on WhatsApp.

[2019-06-26 11:11] adarsh431 commented on #187
for iOS developers with RN < 0.48, you just need to replace the accountKit with latest version.

[2019-06-27 03:57] kevinkevw commented on #187
I didn't change anything. I just use 1.1.0 and link with Cocoapod. didn't even call RNAccountKit.configure().

[2019-06-30 23:29] jpgarcia commented on #193
I've just created a project from scratch with the same configuration and worked. Could you please provide a public repo with the app crashing? thanks!

I'm closing this for now

[2019-06-30 23:29] #193 closed

[2019-07-01 03:34] jpgarcia commented on #187
Guys, we just published a new npm version (1.2.0) of the library which upgrades the SDK to 5.+ for **Android** and **IOS**

[2019-07-01 03:34] #187 closed

[2019-07-01 03:37] jpgarcia commented on #183
I've performed some tests and the library is working as expected. Maybe there was a temporary issue with account kit at that moment.

Feel free to re-open the issue if you're still facing the same behavior but ideally you should provide a public repo to be able to troubleshoot it.

Thanks

[2019-07-01 03:37] #183 closed

[2019-07-01 03:40] jpgarcia commented on #182
We couldn't reproduce this issue. If you are still facing the issue please provide a public repo with the code to be able to reproduce it.

Closing it for now.

[2019-07-01 03:40] #182 closed

[2019-07-01 03:47] jpgarcia commented on #186
@danhnguyeen Sometimes **Account Kit** doesn't deliver SMS properly maybe that's why you didn't receive the code 😢

Regarding the second issue it seems that the latest version of the SDK doesn't include the file you removed. You can check here ([check here](https://github.com/facebook/facebook-objc-sdk/tree/master/FacebookSDKStrings.bundle/Resources))

You can try with the fresh new **1.2.0** vers

[2019-07-01 03:47] #186 closed

[2019-07-01 03:50] jpgarcia commented on #181
Guys, we just published a new **1.2.0** version of the library which upgrades the SDK to the latest **5.+** version.

This version also allow users to verify their phone using **Whatsapp**!

I'm closing this for now. Please feel free to reopen it if the issue persists

[2019-07-01 03:50] #181 closed

[2019-07-01 03:55] jpgarcia commented on #180
Hi @ppv94 this is not a library issue. It seems you have some conflicts with you **Android** dependencies

Please check my suggestion here => https://github.com/underscopeio/react-native-facebook-account-kit/issues/157#issuecomment-423949726

[2019-07-01 03:55] #180 closed

[2019-07-01 03:57] jpgarcia commented on #177
Closing this due to inactivity. Feel free to reopen it if still happening in that case please provide a public Github repository so we can be able to troubleshoot the issue.

[2019-07-01 03:57] #177 closed

[2019-07-01 04:12] jpgarcia commented on #104
Guys I couldn't reproduce the issue with the latest version **1.2.0** we released today.

I'll close this issue for now. If you continue facing the issue please re-open this one but It would be great if you can provide a public Github repo example to be able to troubleshoot the issue.

Thanks!

[2019-07-01 04:12] #104 closed

[2019-07-01 04:12] jpgarcia commented on #90
Closing this due to inactivity

[2019-07-01 04:12] #90 closed

[2019-07-02 03:31] anniewey opened #195 "Build failed after upgrade to v1.2.0"
### Android
[code]
**Solution** [(by @kevinkevw)](https://github.com/underscopeio/react-native-facebook-account-kit/issues/195#issuecomment-508446345):
Add `accountKitSdkVersion = '5.+'` in root project's `build.gradle`.

* React Native Account Kit version: 1.2.0
* React Native version: 0.59.8
* Platform(s) (iOS, Android, or both?): Android

[2019-07-02 14:19] jpgarcia commented on #195
Hi @anniewey it seems that the app is not using the latest SDK

Can you try:

[code]

[2019-07-03 00:53] anniewey commented on #195
Hi @jpgarcia , I've tried the above method. Unfortunately, I'm still getting the same error.

[2019-07-03 11:00] danhnguyeen commented on #100
It didn't work for me anymore.
Could you help me please?

[2019-07-04 05:50] hoang commented on #195
Same here. How to fix ?

[2019-07-04 11:19] kevinkevw commented on #195
already executed ./gradlew clean
This is the error from the console:

/node_modules/react-native-facebook-account-kit/android/src/main/java/io/underscope/react/fbak/RNAccountKitModule.java:242: error: cannot find symbol
        configurationBuilder.setEnableInitialSmsButton(setEnableInitialSmsButton);
                            ^
symbol:   method setEnableInitialSmsButton(boolean)
location: varia

[2019-07-04 11:53] jpgarcia commented on #195
Hi guys, can run the following command to check what version of **com.facebook.android:account-kit-sdk**  you have installed? it should be **5.+** which has the expected method?

[code]
If **5.+** is not installed you can also try running:

[code]

[2019-07-04 20:23] cassianomon commented on #195
iOS and Android build failing with 1.2.0.

1.1.0 seems to work fine.

[2019-07-05 02:15] anniewey commented on #195
@jpgarcia I confirm that my project is still using `com.facebook.android:account-kit-sdk:4.39.0` instead of **5+**. Not sure why but the build still failed after `./gradlew cleanBuildCache`.

However, I can get it to build using @kevinkevw solution.
Thanks everyone for the help!

--
As for iOS, I just realised I'm still using `1.1.0`. After `pod install` to `1.2.0`, the build failed with below err

[2019-07-05 12:45] kostyamarevtsev opened #196 "autolinking not working for android"
before command react-native link react-native-facebook-account-kit

file MainApplication

[code]

add manually dependencies

[code]

react-native run-android

Result : BUILD FAILED
`error: package android.support.v4.content does not exist`

For ios autolinking work without problem

### Additional Information

* React Native Account Kit version: 1.2.0
* React Native version: 0.60.0
* Platform(s) (i

[2019-07-05 16:39] jpgarcia commented on #196
Hi @kostyamarevtsev thank you for reporting this.

Currently the library doesn't support `0.60.x` there's an open PR #192 related to that but ir seems that is not backward compatible with previous versions of react-native. We need to realize how are we're going to handle this change but I couldn't find time to work on that yet.

Let us know if you have any suggestion!

[2019-07-05 16:47] jpgarcia commented on #195
Hi @anniewey happy to hear that it is working on **Android**. Regarding **IOS** I can suggest you a couple of steps you can do to troubleshoot it.

[code]

If you are still facing the issue, you can add to your `Podfile` de AccountKit dependency as follows:

[code]

and run the steps above again.

Hope it helps!

[2019-07-05 17:09] cassianomon commented on #195
Yes @anniewey, same error, I got back to 1.1.0 because I am deploying the application

[2019-07-05 19:50] cristianPerez commented on #195
Hi guys, I've already tried everything, but it does not work, I'm using cocoa pods and this is my pod file, does anyone has the solution, just 4 days since launch the new version everything crash, @cassianomon have you do any hack or something to use 1.1.0, in my case automatically is taking the 1.2.0 version when I did ```pod install```, any help @jpgarcia @anniewey  !!

PodFile:

[code]

React N

[2019-07-05 21:15] jpgarcia commented on #195
Hi @cristianPerez I'm wondering that maybe you've added the `AccountKit` framework manually in the past. You can easily check this by opening your project with Xcode.

<img width="273" alt="Screen Shot 2019-07-05 at 17 30 47" src="https://user-images.githubusercontent.com/95109/60745386-60199480-9f50-11e9-8330-6b7bb01b7648.png">

If this is the case you should delete those, perform a build clean a

[2019-07-07 21:01] jpgarcia commented on #196
Hi @kostyamarevtsev we just released the new **2.0.0** version of the lib that supports **RN 0.60.0*

[2019-07-07 21:01] #196 closed

[2019-07-07 21:04] jpgarcia commented on #195
I'm closing this issue since it is not a library issue but rather a local environment issue.

BTW we just released a new **2.0.0** version of the lib that supports **React Native 0.60.0**. Before upgrading please take a look to the breaking changes in the [release notes](https://github.com/underscopeio/react-native-facebook-account-kit/releases/tag/v2.0.0).

[2019-07-07 21:04] #195 closed

[2019-07-09 15:04] cristianPerez commented on #195
@jpgarcia thanks for your answer man, I am using the old version, for now, but I will upgrade RN and account kit library next update of my app. thanks and congrats for this project really save my life.

[2019-07-10 02:49] anniewey commented on #132
Any update on this case? Would like to change the header title

[2019-07-10 05:26] dkoo761 commented on #148
I had this same issue and the above solution works (since it references your existing `react-native` rather than installing a new one) , however you must first manually remove the `ios/Pods/React` directory (or your entire `ios/Pods` directory if that's cleaner) which was generated during your earlier `pod install` command. Otherwise you'll keep getting the duplicate error.

[2019-07-11 13:20] vijay2330 opened #197 "header is not displaying"
Hi All,

The header before Enter the phone number line is not displaying for me. IS there any solution

[2019-07-15 19:48] Awadhesh786 commented on #33
error: package io.unde
rscope.react.fbak does not exist

[2019-07-15 19:49] Awadhesh786 commented on #33
error: package io.underscope.react.fbak does not exist

[2019-07-25 04:32] minhquankq opened #198 "Skip input phone step"
## Hey there! I'm not sure if it's an issue
Example I've already inputed phone number in my form and I want to request code and input code screen without input phone number screen, because I have configured `initialPhoneNumber`, example

[code]

Can I do that?

[2019-07-30 08:45] CayBap commented on #195
My solution is like **kevinkevw** but I comment
` boolean setEnableInitialSmsButton = this.options.getBoolean("setEnableInitialSmsButton");
     configurationBuilder.setEnableInitialSmsButton(setEnableInitialSmsButton);`
in RNAccountKitModule.java in node_module
----
it is not good solution but it run

[2019-07-30 09:25] huynhquangtoan opened #199 "setEnableInitialSmsButton was removed in androidsdk 5.2.0"
**setEnableInitialSmsButton** was removed in androidsdk 5.2.0

        configurationBuilder.setEnableInitialSmsButton(setEnableInitialSmsButton);

**Solution**:

* React Native Account Kit version: 2.0.0
* React Native version: 0.60.4
* Platform(s) (iOS, Android, or both?): Android

[2019-07-30 09:31] yosukapro commented on #199
Same issue

[2019-07-30 11:48] jpgarcia commented on #199
I'm closing this as **v2.0.0** already sets the default version for the SDK  to **5.+**(https://github.com/underscopeio/react-native-facebook-account-kit/blob/master/android/build.gradle#L8)

You may face this issue if you previously specified **accountKitSdkVersion** on your project or maybe it could be related to a gradle cache issue.

[2019-07-30 11:59] huynhquangtoan commented on #199
**setEnableInitialSmsButton has been removed in the latest version (5.2.0)**

Please check this: https://developers.facebook.com/docs/reference/androidsdk/current/AccountKit/

**SDK 5.0.0:**
https://developers.facebook.com/docs/reference/androidsdk/5.0.0/AccountKit/

[2019-07-30 12:42] jpgarcia commented on #199
Got it! you are right. I'll reopen this then

Thanks for the details!

[2019-07-31 06:44] MahbbRah commented on #195
![image](https://user-images.githubusercontent.com/10045253/62189338-83d5cc00-b390-11e9-864f-f9bf91032566.png)

Hi guys. I've upgraded this. and follow that insruction as well.

No luck here still throwing this:
![image](https://user-images.githubusercontent.com/10045253/62189473-d911dd80-b390-11e9-88db-058fa94835df.png)

[2019-07-31 06:58] anniewey commented on #195
@MahbbRah Instead of using `5.+`, fix it on `5.0.0`. I had the same issue this morning

[2019-07-31 07:02] MahbbRah commented on #195
Thank you let me try. I had removed these line from node modules for quick fix, LOL

``
        boolean setEnableInitialSmsButton = this.options.getBoolean("setEnableInitialSmsButton");
        configurationBuilder.setEnableInitialSmsButton(setEnableInitialSmsButton);

``

[2019-07-31 07:15] anniewey commented on #195
I think the latest `5.2.0` version causing the problem, was using `5.0.0` previously.

[2019-07-31 07:27] kevinkevw commented on #199
My temp workaround is adding this into build.gradle

`buildscript {
    ext {
         ...
         accountKitSdkVersion = "5.0.0"
    }
}
`

[2019-07-31 07:49] bijoycse commented on #195
app/build.gradle
implementation 'com.facebook.android:account-kit-sdk:5.0.0'
andoir/build.gradle
accountKitSdkVersion = "5.0.0"``

[2019-07-31 11:17] Gmlogy commented on #195
i see that accountKitSdkVersion (assignement is not used) is disabled in my gradle , please can you help me ?

[2019-08-01 06:42] caetius opened #200 "RN 0.60.0 & new AK v2.0.0 lead to native crash on iOS (Phone Login)"
### Issue Description

I upgraded my project from RN 0.56.0 to 0.60.0, and as a part of that I've spent significant time working through the details of getting v2.0.0 (the breaking version) of this library working on Android. Android works using the trick of setting the SDK version to 5.0.0 as discussed in #195.

HOWEVER, the iOS version is giving me inexplicable trouble. Both versions of the code

[2019-08-01 09:10] yosukapro commented on #200
Also crash app on Android

[2019-08-04 08:16] anhtuank7c commented on #199
Both Android and iOS needed to limited AccountKit library version `5.0.0`, I faced the same issue on iOS after `pod repo update`, account kit `v5.3.0` doesn't compatible

[2019-08-04 17:06] anhtuank7c commented on #186
I facing the same issue in version `2.0.0`.
Any tips to resolve it?
[code]

[2019-08-04 17:22] caetius commented on #200
@jpgarcia Please, help. I can't figure this one out.

[2019-08-04 18:34] caetius commented on #200
For anyone who runs into this issue on iOS, you can go inside the node_modules:
react-native-facebook-account-kit/ios/RNAccountKitViewController
and comment out line 54: "viewController.enableInitialSMSButton = self.setEnableInitialSmsButton;"

This selector is not defined in the Obj-C library 5.0.0.

[2019-08-04 18:34] #200 closed

[2019-08-04 23:02] jpgarcia commented on #197
Please provide more information about the issue by filling out the issues template.
Also it would be great if you can create a public repo to reproduce the issue.
Closing this for now till we have detailed info

[2019-08-04 23:02] #197 closed

[2019-08-05 02:21] jpgarcia commented on #199
Guys, I've just published a new **2.1.0** version which solves the issues you reported here.

You should now be able to remove the workarounds on your `Podfile` and `build.gradle` files.

Before running the project make sure you refresh all the dependencies by doing this:

[code]
Let me know if you found any issue.

[2019-08-05 02:21] #199 closed

[2019-08-05 02:27] jpgarcia commented on #198
Hi @minhquankq but I think that what you want to achieve is not possible.

As described in the documentation the initialPhone number is just to *"pre-fill the user's phone number in the SMS login flow."*

You can check the docs here https://developers.facebook.com/docs/accountkit/android/accountkitconfigurationbuilder/

[2019-08-05 02:27] #198 closed

[2019-08-05 02:29] jpgarcia commented on #200
Guys, I've just published a new **2.1.0** version which solves the issue you reported in this issue and in #199.

Before running the project make sure you refresh all the dependencies by doing this:

[code]
Let me know if you found any issue.

[2019-08-07 17:36] buihoangthong123 opened #201 "error: Package androidx.core.content does not exist on v2.1.0"
### Issue Description
Encountered a problem when debugging on Android after upgrading to v2.1.0
Compilation failed: package androidx.core.content does not exist

### Steps to Reproduce / Code Snippets
`yarn add react-native-facebook-account-kit@latest`
`react-native link react-native-facebook-account-kit`
`cd android && ./gradlew clean`

#### Expected Results
Build success

### Additional Informat

[2019-08-09 04:09] jose920405 commented on #68
@gHashTag

Do you think that is really necessary publish the app. I think that in dev mode should works. Can someone confirm?

[2019-08-09 04:15] jose920405 commented on #68
I did try to publish and the errors still appearing

[2019-08-09 12:37] jpgarcia commented on #201
For `0.59.10` you should use `1.x.x` as described [here](https://github.com/underscopeio/react-native-facebook-account-kit/blob/master/README.MD#supported-versions---react-native--facebook-account-kit)
If you wanna use the latest version of this library you should upgrade RN

[2019-08-09 12:37] #201 closed

[2019-08-20 09:28] tuledev commented on #132
Any update on this please?

[2019-08-21 07:56] duyv opened #202 "Could not invoke RNAccoutKit.login"
This error appear when I call RNAccountKit login method (by phone or by email). I was try to change version from 1.2.0 to 2.1.0 but not work. I think something wrong around method **setEnableInitialSmsButton**.

[code]

[2019-08-22 10:21] shibbyy commented on #175
I think I'm facing a similar issue can you please reopen this and have a look at it please? @jpgarcia

I updated RN to 0.60.4 and "react-native-facebook-account-kit": "^0.9.3" -> to 2.1.0
Everything seems to work fine on Android, but I get the following error on iOS.

TypeError: null is not an object (evaluating 'RNAccountKitNative.configure')

<img width="364" alt="Screenshot 2019-08-22 at 3 50 5

[2019-08-22 20:51] shibbyy opened #203 "Unable to Run the project on iOS v2.1.0 TypeError: null is not an object (evaluating 'RNAccountKitNative.ANY_FUNCTION) on iOS"
# Issue Description

TypeError: null is not an object (evaluating 'RNAccountKitNative.configure')

### Steps to Reproduce / Code Snippets

Updated RN to 0.60.4 and updated react-native-facebook-account-kit from "^0.9.3" -> "2.1.0"

#### Expected Results

Everything seems to work fine on Android, but I get the null is not an object (evaluating 'RNAccountKitNative.configure') on iOS

### Additional

[2019-08-23 02:49] minhchienwikipedia commented on #191
@tombaki Did you resolve it? How do you do it? I get the same issue, can you help me?

[2019-08-23 03:26] sinhpn92 commented on #202
Fix specific your accountkit version to 5.0.1

[2019-08-24 06:44] truongcoino1 opened #204 "i am using library for project with react native version 0.60.4 .For me login by phone is success but when i using getCurrentAccount function then result of promise is {} ., no property?"
## Hey there! Please follow the steps described below

Before submit a new issue be sure about the following points

- [ ] You're using the latest release of this module: https://github.com/underscopeio/react-native-facebook-account-kit/releases

- [ ] You've searched through existing issues: https://github.com/underscopeio/react-native-facebook-account-kit/issues and the issue is not already repo

[2019-08-24 20:28] shibbyy commented on #203
Do we have an update here please? @jpgarcia

[2019-08-25 16:22] saurabhjayx commented on #202
or in build.gradle you can set
`implementation 'com.facebook.android:account-kit-sdk:5+'`
to
`implementation 'com.facebook.android:account-kit-sdk:5.0.0'`

[2019-08-27 07:49] pankti1210 opened #205 "Auto linking not working on android"
version:
"react": "16.8.6",
"react-native": "0.60.5",
 "react-native-facebook-account-kit": "^2.1.0"

app builds but as soon as i open the app it gets crash.. it gets closed immediately without any error..
it happens after installing this package..
Please help..

[2019-08-27 14:26] pankti1210 commented on #202
@saurabhjayx  this solution is not working..!

[2019-08-27 16:51] gino8080 commented on #185
any news?

[2019-08-29 22:23] tungmt commented on #202
@saurabhjayx it worked for me

[2019-08-30 04:03] rautram commented on #185
This issue was solved already so I had closed it. There was small error on my side and solved.
@gino8080 any thing you want to know?

[2019-08-31 16:05] iwantooxxoox opened #206 "[Question] Is it possible to show the viewConroller from right to left instead of from bottom to top (Like modal)"
### Issue Description

Hi, I'm wondering if it's possible to show the view controller from left right, like navigation instead of a bottom-up pop modal. I have tried to set viewControllerMode: 'show', but seems not working.

* React Native Account Kit version: 1.1.0
* React Native version: 0.59.8
* Platform(s) (iOS, Android, or both?): both

[2019-08-31 22:47] jpgarcia commented on #203
Sorry for the late response @shibbyy I've been quite busy lately.

I tried the reproduce the issue you mention and even tough I worked I noticed that maybe you have forgotten to run `pod install` from the `ios` folder after doing `yarn add react-native-facebook-account-kit`.

I'll close this issue and will add a note to the readme file.

Thanks for reporting this and I hope my suggestion work on y

[2019-08-31 22:47] #203 closed

[2019-08-31 23:10] jpgarcia commented on #205
Just tried to reproduce the issue by creating a sample with the same configuration you provided but it worked like a charm 🤷‍♂

I'm closing this for now. In case you still facing the same issue please provide us a detailed log using `adb logcat` or even better a public repository with the project failing so we can help you to troubleshoot it

[2019-08-31 23:10] #205 closed

[2019-08-31 23:12] jpgarcia commented on #202
Closing this as it seems to be a misconfiguration issue.

Feel free to reopen it but provide a detailed issue by filling out the template suggested by the issue creation form.

[2019-08-31 23:12] #202 closed

[2019-08-31 23:56] jpgarcia commented on #204
Hi @truongcoino1 I'm closing this issue as I could not reproduce it.

I've created a sample from scratch and it worked.

Please try out the following code and let me know if it works:

[code]

[2019-08-31 23:56] #204 closed

[2019-09-01 05:16] jpgarcia commented on #206
Nope, the library doesn't support that feature right now on the other side I'm not sure if there is a limitation on the AK Sdk.

Feel free to send a PR if you find a way to do that.
Thanks

[2019-09-01 05:16] #206 closed

[2019-09-03 07:55] shibbyy commented on #203
Hi @jpgarcia thanks for the reply.
I did run pod install after running the command npm i -s react-native-facebook-account-kit

Can you please recheck? Maybe an issue with deleting something from the Xcode workspace, worked as expected on Android.

[2019-09-06 02:13] truongcoino1 commented on #204
yep, thank you support for me.

[2019-09-14 03:15] mubashirM2h opened #207 "app’s country code selector displays placeholder content on ios"
app’s country code selector displays placeholder content

Appstore rejected my app because of this issue of react-native-facebook-account-kit

[2019-09-17 07:23] dannyyaou commented on #191
Same here...

[2019-09-17 08:22] dannyyaou commented on #200
Still doesn't work,

RN: 0.59.1
React Native Facebook Account Kit: 1.2.0 or 2.1.0

[2019-09-19 04:18] qwerqy opened #208 "'Login Cancelled' on Android appears under Catch error instead of !token."
### Issue Description

When a user cancels the accountkit window, it's suppose to return token as `null`. This works with iOS in my project. However, in Android, it does not return token as `null`, instead it throws a `Login Cancelled` error.

### Steps to Reproduce / Code Snippets

1. Create normal login steps based on example in repo.
2. Add a `.catch` under `RNAccountKit.loginWithPhone().then(.

[2019-09-22 09:53] MahbbRah opened #209 "A System issue occured. Please Try again"
![Error With Account Kit](https://user-images.githubusercontent.com/10045253/65385352-a8767080-dd4f-11e9-9c9b-b4e03463f2b5.png)

I was using account kit with a existing project. then moved to RN .60. where it was still working perfectly. I think since 3-4 days. account kit not working and logging like that above when I put phone number.

I even tried with a fresh install with only account kit and

[2019-09-26 21:23] thecodecafe commented on #175
@shibbyy were you able to find a solution?

[2019-09-28 13:10] ppv94 commented on #147
I am getting the below compile error in android studio and the build fails how can I resolve this error.
react-native version - 0.56.0.
Caused by: org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':react-native-facebook-account-kit:compileDebugJavaWithJavac'.

[2019-10-01 03:23] anniewey commented on #200
it's working in 2.1.0. thanks

[2019-10-08 02:23] anastely commented on #103
@phumaster
I got this error,

Showing Recent Messages
:-1: Multiple commands produce '/Users/anas/Library/Developer/Xcode/DerivedData/mstore-fpvndgippwancegertlwurjoosod/Build/Products/Debug-iphonesimulator/mstore.app/AccountKitStrings.bundle':
1) Target 'mstore' (project 'mstore') has copy command from '/Users/anas/Desktop/App/codecanyon-17010642-beostore-complete-react-native-template-for-ecomme

[2019-10-09 08:21] 0x6675 commented on #103
@anastely what is your react-native version? I think the version is higher than me. Then you got that error.

[2019-10-09 11:09] helloagain-dev commented on #209
We have the same Issue.
react-native: 0.59
react-native-facebook-account-kit: 1.1.0

This only occurs for some users and it seems that it started a few days ago.

[2019-10-09 11:22] MahbbRah commented on #209
Hey, I was able to figure this problem. It was because of internet connection. If you have a bad connection/ip/internet then this problem occurs due to blacklisted  internet service provider IP's this problem happens. there is nothing to do here.

[2019-10-09 11:22] #209 closed

[2019-11-24 05:41] thiennam1311 commented on #207
See the step 3 in the link below and make sure you done.
[Manual set up with version 1.2.x](https://github.com/underscopeio/react-native-facebook-account-kit/blob/master/docs/Legacy-Instalation-Steps.md#ios-manual-steps-without-cocoapods-not-recomended)

[2020-01-10 19:29] safciplak commented on #184
i encountered but no way. i didn't fix it still. can we reopen the issue ?

[2020-03-17 13:33] vishaldhanotiya commented on #181
Change this one

 to this

[2020-04-05 12:49] prabhat04011998 commented on #68
Account kit is deprecated due to which it's showing "A system issue occurred. Please try again."..

M i right or anything else?
![image](https://user-images.githubusercontent.com/28345582/78498787-ff7ee880-7769-11ea-9f36-9a3d4d45fdf2.png)

[2021-09-01 10:37] hpsurekha commented on #126
I am using the '@twotalltotems/react-native-otp-input' library for auto-detect but it seems it not detecting, so does anyone have an idea how to integrate it into ios to detect OTP from SMS, and is there any format to autodetect or any other library which work best in android and ios.

Any type of help is appreciated.

[2022-10-11 04:23] muralitharanaspritle commented on #150
Just remove the "application@allowBackup" at AndroidManifest.xml. It works for me.